.banner
  .container
    =render "layouts/actionbar", user: current_user

.container
  .row
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
          = link_to "Gerenciamendo de Coleções", new_brand_collection_path(current_user)
          &#187;
        %h1
          %a.ellipsis= @collection.name

      %hr

      = link_to "Novo Produto", new_brand_collection_product_path(@brand, @collection), :class => "btn btn-primary pull-right"
      %a.btn.btn-disabled.pull-right.margin-right{data: {toggle: "modal"}, :href => "#modaleditcollection"}
        Editar Coleção
      = link_to "Excluir Coleção", brand_collection_path(@brand.id, @collection.id), {data: {toggle: "modal", method: "delete"}, class: "btn btn-disabled pull-right margin-right"}


      .clearfix
      %br

      .row
        - @collection.products.each do |product|
          .span140.span220
            = link_to edit_brand_collection_product_path(@brand, @collection, product) do
              = image_tag product_image(product), :class => "size-medium"
              .connection-name.ellipsis
                = product.name

#modaleditcollection.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel EDITAR COLEÇÃO
  .modal-body
    .container.container-modal
      = simple_form_for [@brand, @collection] do |f|
        .form-inputs
          = f.input :name, autofocus: true
          = f.input :delivery_date
          %label.checkbox
            = f.input :release

          .clearfix
          %button.btn.btn-primary.pull-right Editar

  .hr-arabesc
  .modal-footer
