.banner
  .container
    = render 'layouts/actionbar_brand'

.container
  .row
    .span3
      = render 'layouts/collectionbar', user: @brand, single_element: true

    .span9
      .collection-title
        %h2
          = link_to @brand.name, brand_path(@brand)
          &#187;
        %h1
          %a Coleções

      %hr

      - if user_signed_in? && current_user.id == @brand.id || current_user.has_connection_with(@brand)
        - if @collection
          %h4.title
            .pull-left
              %a.text= @collection.name

          .myCarousel
            .carousel-inner
              .active.item
                %ul.thumbnails
                  - @collection.products.each do |prod|
                    = render 'product_avatar', product: prod, user: current_user
        - elsif current_user.id == @brand.id
          - # ajeitar isso Renata
          %p
            Você ainda não possui nenhuma coleção.

          = link_to new_brand_collection_path(@brand), class: 'btn btn-primary pull-right margin-right' do
            Criar Nova Coleção
        - else
          %p
            %i= "#{@brand.name} ainda não criou nenhuma coleção no FashionHub."
          %br
          .hr-arabesc
      - else
        - # ajeitar isso Renata
        %p
          Você precisa se conectar a esta marca para poder visualizar suas coleções.

= render 'brands/payment_conditions'
