.banner
  .container
    = render "layouts/actionbar", user: @brand

.container.background-column.gold
  .row
    .span3
      = render "layouts/sidebar", user: @brand

    .span9
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Gerenciamento de Coleções

      %hr

      %a.btn.btn-primary.pull-right.margin-right{data:{toggle: "modal"}, href: "#modalcollection"}
        Nova Coleção
      .clearfix
      %br

      .row
        - unless @brand.collections.empty?
          - @brand.collections.order(:id).each do |col|
            .span140.span175
              = link_to edit_brand_collection_path(@brand.id, col.id) do
                = image_tag collection_image(col), class: "size-small"
                .connection-name.ellipsis
                  = col.name
        - else
          .span9
            %span
              %i Nenhuma coleção cadastrada.
            %br
            %br
            .hr-arabesc

#modalcollection.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel NOVA COLEÇÃO
  .modal-body
    .container.container-modal
      = simple_form_for [@brand, @collection] do |f|
        .form-inputs
          = f.input :name, autofocus: true
          = f.input :delivery_date
          %label.checkbox
            = f.input :release

          .clearfix
          %button.btn.btn-primary.pull-right Adicionar

  .hr-arabesc
  .modal-footer
