.banner
  .container
    = render 'layouts/actionbar_brand'

.container.background-column.gold
  .row
    .span3
      = render 'layouts/collectionbar', user: @brand, single_element: false

    .span9
      .collection-title
        %h2
          = link_to @brand.name, brand_path(@brand)
          &#187;
        %h1
          %a Coleções

      %hr

      %h4.title
        .pull-left
          %a.text= @collection.name

      .myCarousel
        .carousel-inner
          .active.item
            %ul.thumbnails
              - @collection.products.each do |prod|
                = render 'product_avatar', product: prod, user: current_user

= render 'brands/payment_conditions'
