.banner
  .container
    =render "layouts/actionbar", user: current_user

.container
  .row          
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
        %h1
          %a Mensagens
      
      %hr.margin-no-bottom

      -#= link_to "Nova Mensagem", new_message_path, class: "btn btn-primary pull-right"            
      
      .clearfix
      
      .row
        .span12
          - unless @messages.count > 0
            %p.margin-left
              %br
              %i Você ainda não possui mensagens.
            .hr-arabesc.margin-top 
          - else
            %ul.media-list
              - @messages.each do |msg|
                - other = User.find (current_user.id == msg.sender_id ? msg.recipient_id : msg.sender_id)
                %li.media.default
                  = link_to message_path(other), class: '' do
                    .pull-left
                      = image_tag other.logo, class: 'media-object'
                    .media-body
                      %h4.media-heading 
                        = other.name
                        - days_ago = (Date.today - msg.created_at.to_date).to_i
                        - if days_ago <= 0
                          %span Hoje
                        - else
                          %span= "#{days_ago} dia#{days_ago > 1 ? 's' : ''} atrás"
                      = msg.body
        .span12
          = paginate @messages
          .pagination.pagination-centered
