.banner
  .container
    =render "layouts/actionbar", user: current_user

.container
  .row          
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
        -#%h1
          %a Nova Mensagem
      
      %hr

      .row
        .span12.margin-bottom
          = simple_form_for(@message, url: messages_path, method: 'post') do |f|
            = f.input :sender_id, as: :hidden, input_html: {value: current_user.id}
            = f.input :recipient_id, as: :select, label: false, collection: @connections, prompt: 'Para:'
            = f.input :body, label: false, input_html: {class: 'span12', rows: 6}
            = f.button :submit, 'Enviar', class: 'btn btn-primary btn-primary pull-right'
