.banner
  .container
    = render 'layouts/actionbar', user: current_user

.container.container-main
  .row
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Mensagens", message_path(@partner)
          &#187;
        %h1
          %a= @partner.name

      %hr

      .row
        - if @messages.total_count > 0
          .span12
            .pagination-centered
              = paginate @messages

            %ul.media-list
              - @messages.reverse_each do |msg|
                - sender = User.find(msg.sender_id)
                %li.media.speech
                  %div{class: "#{sender == current_user ? 'pull-left' : 'pull-right'}"}
                    = user_link_to sender, class: 'media-object' do
                      = image_tag sender.logo
                  %div{class: "media-body #{sender == current_user ? 'pull-left arrow-left' : 'pull-right arrow-right'}"}
                    %div{class: "balloon #{sender == current_user ? '' : 'right'}"}
                      = msg.body
                      .time
                        = "em #{l msg.created_at, format: :short}"

        - if @first_page && @has_connection
          - if @messages.total_count == 0
            .span.margin-bottom1
              %i Nenhuma mensagem enviada. Que tal iniciar a conversa?

          .span12.margin-top1
            = simple_form_for Message.new(sender_id: current_user.id, recipient_id: @partner.id), url: messages_path do |f|
              = f.input :recipient_id, as: :hidden
              = f.input :body, label: false, input_html: { row:'3', class: 'span12' }
              %button.btn.btn-primary.pull-right
                Enviar
:javascript
  window.scrollTo(0, document.body.scrollHeight);
