.container.container-small
  .main-content
    .forgot.margin-top2
      %h3 Modificar senha
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = f.error_notification
        .form-inputs
          -#= f.input :email, :required => true, :autofocus => true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Ainda esperando confirmação: #{resource.unconfirmed_email}
          = f.input :current_password, required: true, label: false, placeholder: 'SENHA ATUAL'
          = f.input :password, autocomplete: "off", required: false, label: false, placeholder: 'NOVA SENHA'
          = f.input :password_confirmation, required: false, label: false, placeholder: 'CONFIRMAR NOVA SENHA'
        %button.btn.btn-primary.pull-right Atualizar
      -#%h3 Cancel my account
      -#%p
        Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
      
      .clearfix
      .links
        = link_to "Voltar", :back