%p
  Olá #{@name}, obrigado pelo seu interesse no FASHIONHUB
                                                                                                                                

%p 
  Estamos analisando seu cadastro e entraremos em contato via email dentro de no máximo 24 horas.
  Se você tem alguma dúvida ou deseja alguma informação adicional, entre em contato conosco através do email abaixo:


%p contato@fashionhub.com.br



%p Cordialmente,


%p Equipe FASHIONHUB