.banner
  .container
    - unless current_user.admin?
      =render "layouts/actionbar", user: current_user

.container
  .row          
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
        %h1
          %a Busca
      
      %hr
      
      
            
      .row
        - if @results.total_count > 0
          -#.span3.column-search
            %ul
              - Category.order(:name).each do |cat|
                %li= cat.name
          .span12
            - @results.each do |res|
              .span140.span160
                = user_link_to res, class: '' do
                  .thumbnail
                    = image_tag res.logo
                  .connection-name.ellipsis
                    = res.name
                  
        -else
          .span12
            %p.margin-left
              %i Nenhum resultado encontrado.
          
  
      .clearfix
                
        .span12
          = paginate @results
          .pagination.pagination-centered
