.container.admin

  .main-content.clean-page
    .row
      .span12.title
        %h2.small-font-weight.text-center Cadastros para Aprovação
        %br
        .hr-arabesc.margin-bottom2
        
    .row
      .span6
        %h3.small-font-weight.text-center Lojas
        %ul
        - Store.where(confirmed: false).order(created_at: :desc).each do |store|
          %li= link_to store.name, store

      .span6
        %h3.small-font-weight.text-center Marcas
        %ul
        - Brand.where(confirmed: false).order(created_at: :desc).each do |brand|
          %li= link_to brand.name, brand