.container

  .main-content.clean-page
    .row
      .span12.title
        %h2.small-font-weight.text-center Registro de Pedidos
        %br
        .hr-arabesc.margin-bottom2
    
    .row
      %table.table
        %thead
          %tr
            %th Loja
            %th Marca
            %th Valor
            %th Status
            %th Em
        %tbody
          - @orders.each do |order|
            %tr
              %td= order.store.name
              %td= order.brand.name
              %td= number_to_currency order.total_cost
              %td= order.pending ? "Pendente" : "Concluído"
              %td= l order.created_at, format: :short

      = paginate @orders