.container

  .main-content.clean-page
    .row
      .span12.title
        %h2.small-font-weight.text-center Transações
        %br
        .hr-arabesc.margin-bottom2
    
    .row
      %table.table
        %thead
          %tr
            %th Semana
            %th Pedidos Aceitos
            %th Variação
        %tbody
          - @transactions.each_with_index do |t, i|
            %tr
              %td= Date.commercial(t['c_year'].to_i, t['c_week'].to_i, 1).strftime('%d/%-m')
              %td= t['total']
              %td= stat_variation(@transactions, i)