.container

  .main-content.clean-page
    .row
      .span12
        .alert.alert-info
          Seja bem-vindo ao
          %em FashionHub.
          Você está prestes a cadastrar sua loja. O email informado
          será utilizado para a comunicação com sua loja.

        = simple_form_for @store do |f|
          - if notification = f.error_notification
            .alert.alert-error.fade-in
              %a.close{'data-dismiss' => 'alert', :href => '#'} &times;
              %ul
              - @store.errors.full_messages.uniq.each do |msg|
                %li= msg

          %br
          .row.controls-row
            = f.input :email, label: "Defina seu Email de Usuário", wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }
            = f.input :password, required: true, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }
            = f.input :confirm_password, required: true, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }

          %fieldset

            %h4.title
              .pull-left
                %a.text
                  Dados da Loja Matriz

            .row.controls-row
              = f.input :name, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
              = f.input :corporate_name, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
              = f.input :cnpj, wrapper_html: { class: 'span4' }, input_html: { class: 'span4', data: {mask: "99.999.999/9999-99"} }

            .row.controls-row
              = f.input :responsible, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
              = f.input :phones, wrapper_html: { class: 'span4' }, input_html: { class: 'span4', data: {mask: "(99) 9999-9999"} }
              = f.input :state, collection: %w(CE RJ SP), prompt: false, label: 'UF', wrapper_html: { class: 'span1' }, input_html: { class: 'span1' }
              = f.input :city, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }

            .row.controls-row
              = f.input :street, wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }
              = f.input :complement, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
              = f.input :district, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
              = f.input :cep, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }

          %fieldset
            %h4.title
              .pull-left
                %a.text
                  Perfil

            .row.controls-row
              = f.input :site, wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }
              = f.input :facebook, wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }

            .row.controls-row
              = f.input :working_brands, wrapper_html: { class: 'span12' }, input_html: { class: 'span12', rows: '3' }

            .row.controls-row
              = f.input :opening_year, wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }

          .hr-arabesc.margin

          %button.btn.btn-medium.btn-primary.pull-right
            Cadastrar
            %i.icon-chevron-right

