.banner
  .container
    
    = render 'layouts/actionbar_store', user: @store
    
    = render 'carousel_profiles', user: @store
    
    = render 'layouts/profile_store'

.container.background-column
  .row
    .span3.column-left      
      = render 'layouts/aboutbar', user: @store

    .span9
      - if user_signed_in? and (current_user.id == @store.id or current_user.has_connection_with @store)
        - if @store.store_images.count > 0
          %h4.title
            .pull-left
              %a.text{id: 'pics'}
                FOTOS
            .pull-right
              %a.left.button{'href' => '#myCarouselStore', 'data-slide' => 'prev'}
              %a.right.button{'href' => '#myCarouselStore ', 'data-slide' => 'next'}        
      
          #myCarouselStore.myCarousel.slide
            .carousel-inner
              - first = true
              - @store.store_images.each_slice(3) do |imgs|
                .item{class: "#{first ? 'active' : ''}"}
                  %ul.thumbnails
                    - imgs.each do |img|                       
                      %li.span3
                        .product-box
                          = link_to img.location.url, data:{lightbox: "store-photos"}, title: img.description do
                            = image_tag img.location.thumb
                         
                - first = false
        - else
          .empty-space
      - else
        .info-closed
          %p= "#{@store.name} mantém seu showroom disponível exclusivamente para suas conexões. Para ter acesso ao conteúdo completo, conecte-se agora com a loja."
          -#%a.btn.btn-primary
            Conectar
                     
      .more-details
        .details
          - unless @store.working_brands.blank?
            %p
              %span
                Marcas com que Trabalha:
              = @store.working_brands
          -# unless @store.description.blank?
            %p
              %span
                Informações Adicionais:
              = @store.description
          %p
            %span
              Localização:
            = [@store.street, @store.complement, "CEP: #{@store.cep}", @store.district].select{|i| not i.blank?}.join(' - ')
            %br
            = "#{@store.city} - #{@store.state}"

      -#.social-icons
        %a.facebook Facebook
        %a.twitter  Twitter
        %a.home Homea

-# Isso não deve aparecer porque gera um espaço branco na página da Loja
- if user_signed_in? and current_user.admin? && !@store.confirmed?
  .container
    .main-content.clean-page
      #p{id: "notice"}= notice
      = confirm_user current_user, @store
