.container.container-small
  .main-content
    .forgot.margin-top2
      %h3 Modificar senha
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        = f.error_notification
        = f.input :reset_password_token, :as => :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password, label: false, placeholder: 'NOVA SENHA', :required => true, :autofocus => true
          = f.input :password_confirmation, label: false, placeholder: 'CONFIRMAR NOVA SENHA', :required => true
          
          = f.button :submit, "ALTERAR SENHA", class: 'btn btn-primary pull-right'
      
      .clearfix
      .links  
        = link_to "LOGIN", new_user_session_path
        = link_to "CADASTRE-SE", register_detail_path