.container.container-small
  .main-content.clean-page
  
    .forgot
      %h3 ESQUECEU SUA SENHA?
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, :required => true, :autofocus => true, label: false, placeholder: 'EMAIL CADASTRADO'

          %button.btn.btn-primary.btn-block Enviar instruções para nova senha
        
        .clearfix
        .links
          = link_to "CADASTRE-SE", register_detail_path

