.container.container-about
  .row
    .span4.bs-docs-sidebar.about
      %ul.nav.nav-list.bs-docs-sidenav
        %li.active
          %a{:href => about_path}
            Empresa
            %i.icon-chevron-right
        %li
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li
          %a{:href => privacy_path}
            Privacidade
            %i.icon-chevron-right
        %li
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify

      %h2.margin-bottom2 O que é o FashionHub?

      %p FashionHub é uma plataforma online de atacado de moda, que conecta marcas e lojistas com o objetivo de realizar negócios e networking.
      %p Nossa plataforma é desenvolvida por quem conhece de perto as rotinas do dia-a-dia, tanto dos gestores das marcas, quanto dos lojistas.
      %p Hoje em dia, muito tempo é mal empregado, com atividades manuais e não escaláveis, onerosas e passíveis de erros, e que pesam a carga de trabalho das empresas.
      %p Somos apaixonados por novas tecnologias e entusiastas no desenvolvimento de soluções, que resolvem problemas reais das empresas.
      %p Desenvolvemos soluções para empresas que buscam posicionamento diferenciado em um mercado competitivo e dinâmico, explorando ao máximo, o potencial que a tecnologia disponibiliza para otimizar seus processos e resultados.
      
      .hr-arabesc.margin-top2 