.banner
  .container
    = render "layouts/actionbar", user: current_user

.container
  .row          
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Atividade dos Contatos
          
      %hr
              
      .row
        - unless @activities.count > 0
          .span12
            %p
              %i Seus contatos não realizaram nenhuma atividade recentemente.
        - else
          .span12
            %ul.unstyled.notification
              - @activities.each do |atv|
                %li
                  %i.icon-plus
                  = user_link_to atv.brand, {class: ''} do
                    = atv.brand.name 
                  adicionou 
                  - if atv.class.name == 'Collection'
                    coleção
                    = link_to(atv.name, brand_collection_path(atv.brand, atv))
                  - elsif atv.class.name == 'BrandFile'
                    material
                    = link_to(atv.title, brand_brand_file_path(atv.brand, atv))