.container 
  .main-content.content-image-description
  
    .row
      .span12.title
        %h1.small-font-weight.text-center Leve sua Marca
        %h3.small-font-weight.text-center para todos os lugares
        %br
        .hr-arabesc.margin-bottom2
    
      .row
        .span12.images-description
          .row
            .span7
              = link_to register_detail_path do
                = image_tag 'indexbrand01.png' 
            .span5
              %h3 Facilidade
              %p Crie facilmente suas coleções e conecte-se com compradores.
        
        .span12.images-description
          .row
            .span5
              %h3 Volume de Vendas
              %p Aumente o volume de vendas da sua marca.
              %p Maior alcance estratégico. Prospecção de novos clientes e novos mercados.
            .span4.pull-right
              = link_to register_detail_path do
                = image_tag 'indexbrand02.png'
  
        .span12.images-description
          .row
            .span7
              = link_to register_detail_path do
                = image_tag 'indexbrand03.png' 
            .span5
              %h3 Acompanhe em Tempo Real
              %p Acompanhe em tempo real a performance de vendas de suas coleções.
              %p Receba notificações de novos pedidos, mensagens e solicitações de conexão.
              
        .span12.images-description
          .row
            .span5
              %h3 Relatórios
              %p Relatórios com dados extremamente úteis para tomada de decisões estratégicas e mais inteligentes em seu negócio.
            .span4.pull-right
              = link_to register_detail_path do
                = image_tag 'indexbrand04.png'
          
        .span12.images-description
          .row
            .span7
              = link_to register_detail_path do
                = image_tag 'indexstore01.png' 
            .span5
              %h3 Showroom 24H
              %p Seu showroom disponível 24 horas por dia, todos os dias do ano.
        
        .span12.hr-arabesc.margin
        
        .row
          .span12.text-center
            = link_to new_brand_path, :class => "btn btn-primary" do
              Fazer meu Cadastro como marca
              %i.icon-chevron-right