.banner
  .container
    =render "layouts/actionbar", user: current_user

.container.background-column.gold
  .row
    .span3 
      =render "layouts/sidebar", user: current_user
      
    .span9
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Conexões
          
      %hr
      
      .row
        - unless current_user.firmed_connections.empty?
          - current_user.firmed_connections.each do |conn|
            .span140
              - if current_user.store?
                = link_to brand_path(conn.brand) do
                  .thumbnail
                    = image_tag conn.brand.logo
                  .connection-name.ellipsis
                    = conn.brand.name
                -#%a.btn.btn-disabled.btn-block
                  Desconectar
              - elsif current_user.brand?
                = link_to store_path(conn.store) do
                  .thumbnail
                    = image_tag conn.store.logo
                  .connection-name
                    = conn.store.name
                -#%a.btn.btn-disabled.btn-block
                  Desconectar
        - else
          .span9
            %p.margin-left
              %i Nenhuma conexão estabelecida até o momento. Utilize a busca para encontrar novas conexões do seu interesse.
            %br
            .hr-arabesc