.container.container-about
  .row
    .span4.bs-docs-sidebar.about
      %ul.nav.nav-list.bs-docs-sidenav
        %li
          %a{:href => about_path}
            Empresa
            %i.icon-chevron-right
        %li
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li
          %a{:href => privacy_path}
            Privacidade
            %i.icon-chevron-right
        %li.active
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify

      %h2 Contato

      = form_tag(send_contact_path, method: :post) do |f|
        .control-group
          = label_tag :name, "Nome"
          = text_field_tag :name, nil, class: 'span8', required: true
        .control-group
          = label_tag :email, "E-mail"
          = email_field_tag :email, nil, class: 'span8', required: true
        .control-group
          = label_tag :subject, "Assunto"
          = text_field_tag :subject, nil, class: 'span8'
        .control-group
          = label_tag :message, "Mensagem"
          = text_area_tag :message, nil, :rows => 15, class: 'span8', required: true
      

        = submit_tag "Enviar", class: 'btn btn-primary pull-right'
        .clearfix