.banner
  .container
    = render "layouts/actionbar", user: current_user

.container.background-column.gold
  .row
    .span3
      = render "layouts/sidebar", user: current_user

    .span9
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
        %h1
          %a Painel

      %hr

      %ul.inline.stats
        %li
          = link_to connection_detail_path do
            - connections = current_user.connections.where(accepted: true).count
            %strong= connections
            .div= connections == 1 ? 'Conexão' : 'Conexões'

        - if current_user.brand?
          %li
            = link_to history_orders_path do
              - orders = current_user.total_orders
              %strong= orders
              .div= orders == 1 ? 'Venda' : 'Vendas'
        - elsif current_user.store?
          %li
            = link_to history_orders_path do
              - orders = current_user.total_orders
              %strong= orders
              .div= orders == 1 ? 'Compra' : 'Compras'

        - if current_user.brand?
          %li
            = link_to new_brand_collection_path(current_user) do
              - collections = current_user.collections.count
              %strong= collections
              .div= collections == 1 ? 'Coleção' : 'Coleções'

        - if current_user.brand?
          %li
            = link_to new_brand_collection_path(current_user) do
              - products = current_user.total_products
              %strong= products
              .div= products == 1 ? 'Produto' : 'Produtos'
        - elsif current_user.store?
          %li
            = link_to favorite_detail_path do
              - favorites = current_user.total_favorites
              %strong= favorites
              .div= favorites == 1 ? 'Favorito' : 'Favoritos'

        - if current_user.brand?
          %li
            = link_to new_brand_brand_file_path(current_user) do
              - files = current_user.brand_files.count
              %strong= files
              .div= files == 1 ? 'Arquivo' : 'Arquivos'

      - unless current_user.pending_connections.empty?
        %h4.title
          .pull-left
            %a.text
              Contatos Pendentes

        %ul.accept-contact.unstyled
          - current_user.pending_connections.each do |conn|
            %li
              - if current_user.brand?
                = link_to store_path(conn.store) do
                  =image_tag (conn.store.logo), class: "pull-left"
                .text.pull-left
                  = link_to conn.store.name, store_path(conn.store)
                  solicitou uma conexão com sua marca
                =link_to "Aceitar", accept_store_connection_path(conn.store), class: "btn btn-disabled", data: {method: :put}
                =link_to "Recusar", refuse_store_connection_path(conn.store), class: "btn btn-disabled", data: {method: :delete}
              - elsif current_user.store?
                = link_to brand_path(conn.brand) do
                  = image_tag (conn.brand.logo), class: "pull-left"
                .text.pull-left
                  = link_to conn.brand.name, brand_path(conn.brand)
                  solicitou uma conexão com sua loja
                =link_to "Aceitar", accept_brand_connection_path(conn.brand), class: "btn btn-disabled", data: {method: :put}
                =link_to "Recusar", refuse_brand_connection_path(conn.brand), class: "btn btn-disabled", data: {method: :delete}


      -# Mensagens
      %h4.title
        .pull-left
          %a.text
            Mensagens
        .pull-right
          = link_to messages_path, class: 'more button' do
            Ver Mais
            = image_tag 'ico-arrow-right.png'

      %ul.unstyled.notification
        - if Message.unread_messages(current_user.id).empty?
          %p.margin-left
            %i Você não possui nenhuma mensagem nova.
        - else
          - Message.unread_messages(current_user.id).where(last_message: true).each do |msg|
            - sender = User.find msg.sender_id
            %li
              %i.icon-envelope
              = user_link_to sender, class: '' do
                = sender.name
              lhe enviou uma
              = link_to "nova mensagem", message_path(msg.sender_id)
              = "em #{l msg.created_at, format: :short}"

      -# Compras
      - if current_user.brand? && !current_user.orders.where(pending: true).empty?
        %h4.title
          .pull-left
            %a.text
              Compras Pendentes

          .pull-right
            = link_to brand_orders_path(current_user), class: 'more button' do
              Ver Mais
              = image_tag 'ico-arrow-right.png'

        %ul.accept-contact.unstyled
          - current_user.orders.where(pending: true).each do |order|
            %li
              = image_tag order.store.logo, :class => "pull-left"

              .text.pull-left
                = link_to order.store.name, store_path(order.store)
                = "enviou um pedido de compra às #{order.created_at.strftime('%H:%M do dia %d/%m/%Y')}"

              = link_to 'Ver Detalhes', brand_order_path(current_user, order), class: 'btn btn-disabled'

      - if current_user.store?
        %h4.title
          .pull-left
            %a.text
              Atividade dos Contatos

          .pull-right
            = link_to activities_detail_path, class: 'more button' do
              Ver Mais
              = image_tag 'ico-arrow-right.png'

        %ul.unstyled.notification
          - brands = current_user.brands.where(connections: {accepted: true}).pluck(:id)
          - collections = Collection.joins(:products).where(brand_id: brands).limit(5)
          - files = BrandFile.where(brand_id: brands).limit(5)
          - activities = [collections, files].flatten.sort_by(&:created_at).reverse
          - unless activities.count > 0
            %p.margin-left
              %i Seus contatos não realizaram nenhuma atividade recentemente.
          - else
            - activities.each do |atv|
              %li
                %i.icon-plus
                = user_link_to atv.brand, {class: ''} do
                  = atv.brand.name
                adicionou
                - if atv.class.name == 'Collection'
                  coleção
                  = link_to(atv.name, brand_collection_path(atv.brand, atv))
                - elsif atv.class.name == 'BrandFile'
                  material
                  = link_to(atv.title, atv.file.url, target: '_blank')
