.banner
  .container
    = render "layouts/actionbar", user: current_user

.container
  .row
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Favoritos

      %hr

      .row
        - unless @favorites.count > 0
          .span12
            %p
              %i Você ainda não possui produtos favoritados.
            %br
            .hr-arabesc
        - else
          - @favorites.each do |favorite|
            .span12
              .row
                .span2
                  = link_to brand_collection_product_path(favorite.product.collection.brand, favorite.product.collection, favorite.product) do
                    = image_tag favorite.product.representative_sample, class: 'margin-bottom'
                  = link_to favorite_favorite_path(favorite.product), class: "btn btn-primary btn-icon btn-block", data: {method: :post} do
                    Favorito
                    %i.icon-ok

                .span10
                  .details.favorite-details
                    .product-title
                      %p
                        %span
                          = link_to favorite.product.collection.brand.name, brand_path(favorite.product.collection.brand)
                          |
                          = link_to favorite.product.name, brand_collection_product_path(favorite.product.collection.brand, favorite.product.collection, favorite.product)
                          = "(#{favorite.product.code})"
                        = number_to_currency(favorite.product.price)

                    .clearfix


                  = render "table_buy", cart: current_user.shopping_cart, product: favorite.product, favorite: true
              %hr
