.banner
  .banner-image
    .container
      .banner-message
        %span Showroom Online
        %br
        Modernizamos o processo de compras de atacado, conectando marcas e lojistas 
        para realizarem negócios escaláveis e mais inteligentes em nossa plataforma.
        = link_to register_detail_path, :class => "btn btn-primary pull-right" do
          Fazer meu Cadastro
          %i.icon-chevron-right
        .clearfix
        
      .row.arrow-down
        .span12.text-center
          %a{:href => "#index"}= image_tag 'arrow-down.png' 
    
#index.container
 
  .main-content
    .row
      .span12.text-center.title
        %h3 
          %span Crie suas Coleções e Faça Pedidos, 
          %br
          a qualquer hora e em qualquer lugar.
        .hr-arabesc
    .row
      .span12.images-description
        .row
          .span7
            = image_tag 'index03.jpg' 
          .span5
            %h3 Produtividade
            %p 
              Uso da 
              %strong tecnologia 
              para 
              %strong promover a 
              %strong redução de custos
              , e 
              %strong aumentar 
              o fluxo de 
              %strong produtividade 
              de sua equipe.
            %p 
              %stronge Libere mais tempo 
              para focar nas atividades 
              %strong estratégicas
              , que 
              %strong potencializam
              a 
              %strong rentabilidade 
              e a 
              %strong eficiência 
              do seu negócio. 
      
.background-color
  .container
    .span12.images-description
      .row
        .span5
          %h3 Simplicidade
          %p 
            Interface 
            %strong intuitiva 
            e 
            %strong fácil 
            de usar. 
          %p 
            Plataforma 100% 
            %strong online/nuvem.
          %p 
            Gerencie todos os seus pedidos de maneira mais 
            %strong simples 
            e 
            %strong ágil, centralizados 
            em um só lugar. 
          %p Elimine os processos manuais de preenchimento de planilhas e envio de inúmeros e-mails. 
        .span7.pull-right
          = image_tag 'index01.png'

.container
  .row     
    .span12.images-description
      .row
        .span7
          = image_tag 'index02.jpg' 
        .span5.margin-security
          %h3 Segurança
          %p 
            Seus dados 
            %strong protegidos 
            em 
            %strong robustos 
            servidores de 
            %strong alta performance. 
          %p 
            %strong Criptografia, backups automáticos, sigilo 
            e 
            %strong confidencialidade.
           
      
