.banner
  .container
    = render "layouts/actionbar", user: current_user

.container.background-column.gold
  .row
    .span3
      = render "layouts/sidebar", user: current_user

    .span9
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Histórico de Pedidos

      %hr

      - if @orders.total_count > 0
        - @orders.each do |order|
          - if current_user.brand?
            = render "orders/order_view", order: order
          - elsif current_user.store?
            = render "orders/reverse_order_view", order: order
        = paginate @orders
      - else
        %p
          %i Você ainda não fez nenhum pedido. Quando os fizer, eles aparecerão aqui.
        %br
        .hr-arabesc
