.container.container-about
  .row
    .span4.bs-docs-sidebar.about
      %ul.nav.nav-list.bs-docs-sidenav
        %li
          %a{:href => about_path}
            Empresa
            %i.icon-chevron-right
        %li
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li.active
          %a{:href => privacy_path}
            Privacidade
            %i.icon-chevron-right
        %li
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify

      %h2.margin-bottom3 Privacidade

      %p A Privacidade da sua empresa é extremamente importante para o FashionHub, e mantemos rígidos padrões para mantê-la integra e segura.
      %p 
        Nossa Politica de Privacidade tem como objetivo,manter total transparência com relação às informações que recolhemos no site 
        %a{href: "http://www.fashionhub.com.br/"} www.fashionhub.com.br
        , e como essas informações são utilizadas.
      %p Ao se registrar no FashionHub, você está automaticamente de acordo e aceita as práticas descritas nesta Politica de Privacidade.
      
      %h2.margin-bottom3 Quais informações nós coletamos?
      
      %p As informações coletadas durante sua navegação no FashionHub, nos capacita a desenvolver e implementar melhorias nos nossos serviços. Coletamos os seguintes tipos de informações do Usuário: 
      %ol
        %li
          %p
            Informações cadastrais:
            Ao se cadastrar no FashionHub, solicitamos o preenchimento de um formulário, com dados tais como:
            Email, CNPJ, Endereço, Razão Social, Nome Fantasia, Telefone.
            Esses dados são necessários para ativação da conta do Usuário.
        %li 
          %p Endereço de IP e informações técnicas do seu computador ou dispositivo móvel, tais como: tipo de dispositivo, web browser ou sistema operacional.
        %li 
          %p Utilização das funcionalidades e histórico de atividades dentro da plataforma.
        %li 
          %p Quando um usuário entra em contato com o FashionHub, mantemos um registro das comunicações. 
            
      %h2.margin-bottom3 Como utilizamos as informações coletadas?
      
      %p O FashionHub utiliza as informações coletadas para fornecer os serviços solicitados.
      %p O FashionHub utiliza as informações coletadas para melhorar a experiência do usuário e a qualidade dos nossos serviços, identificar e resolver possíveis problemas técnicos.
      %p O FashionHub pode utilizar as informações coletadas para fornecer-lhe informações adicionais sobre os serviços, parceiros, promoções e eventos da empresa.  
      %p O conteúdo publicado em seu perfil pessoal, poderá ser acessado por outros usuários do FashionHub. 
      %p O FashionHub não comercializa, sob-hipotese alguma, nenhuma informação pessoal de seus usuários com terceiros.
      %p O FashionHub poderá fornecer dados do usuário a empresas provedoras de serviços da nossa plataforma. Por exemplo, nosso provedor de serviços de emails, através do qual são enviadas nossas newsletters e listas de email marketing. 
      %p Somos radicalmente contra spams.
      %p O FashionHub poderá fornecer dados do Usuário a terceiros, (a) caso seja determinado judicialmente, (b) por consentimento do próprio Usuário, (c)para proteger nossos direitos, reputação, propriedade, ou de nossos Usuários.
      %p Nenhum link de outros websites no conteúdo do FashionHub, se aplica esta Política de Privacidade, e não temos controle de tais sites de terceiros.
       
      %h2.margin-bottom3 Alterações e Atualizações
      
      %p Esta Politica de privacidade poderá sofrer alterações periódicas, portanto sugerimos consultá-la ocasionalmente para verificar possíveis atualizações. 
      %p 
        %b A última atualização foi realizada em: 12/03/2014.
        
      .hr-arabesc.margin-top2