.banner
  .container
    .background-register
      Para fazer parte do FASHION
      %strong
        HUB
      %br
      %span
        precisamos primeiro saber quem você representa:
      %br
      .hr-arabesc.white
      .container-btn
        = link_to new_brand_path, :class => "btn btn-big btn-primary pull-left" do
          %i.icon-chevron-left.left
          Marca
        = link_to new_store_path, :class => "btn btn-big btn-primary pull-right" do
          Loja
          %i.icon-chevron-right
        .clearfix
    

        
