.container 
  .main-content.content-image-description
  
    .row
      .span12.title
        %h1.small-font-weight.text-center Sua Loja modernizando
        %h3.small-font-weight.text-center o processo de compra
        %br
        .hr-arabesc.margin-bottom2
      .row
        .span12.images-description
          .row
            .span7
              = link_to register_detail_path do
                = image_tag 'indexbrand05.png' 
            .span5
              %h3 Acesse Coleções
              %p Acesse coleções antes de visitar o showroom ou feiras.
        
        .span12.images-description
          .row
            .span5.margin-security
              %h3 Descubra
              %p Descubra novas marcas.
            .span4.pull-right
              = link_to register_detail_path do
                = image_tag 'indexstore02.png'
  
        -#.span12.hr-arabesc
  
        .span12.images-description
          .row
            .span7
              = link_to register_detail_path do
                = image_tag 'indexstore03.png' 
            .span5
              %h3 Planejamento
              %p Planejamento mais eficiente, melhores compras para a sua loja!
              
        .span12.images-description
          .row
            .span5
              %h3 Rentabilidade
              %p Reduza os custos com viagens / maior rentabilidade para seu negócio.
            .span4.pull-right
              = link_to register_detail_path do
                = image_tag 'indexstore04.png'
          
        .span12.images-description
          .row
            .span7
              = link_to register_detail_path do
                = image_tag 'indexstore05.png' 
            .span5
              %h3 Mais conveniência
              %p Mais conveniência ao realizar seus pedidos / em qualquer lugar e a qualquer momento.
        .span12.hr-arabesc.margin
        
        .row
          .span12.text-center
            = link_to new_store_path, :class => "btn btn-primary" do
              Fazer meu Cadastro como Loja
              %i.icon-chevron-right