.container.container-about
  .row
    .span4.bs-docs-sidebar.about
      %ul.nav.nav-list.bs-docs-sidenav
        %li
          %a{:href => about_path}
            Empresa
            %i.icon-chevron-right
        %li.active
          %a{:href => terms_path}
            Termos de Uso
            %i.icon-chevron-right
        %li
          %a{:href => privacy_path}
            Privacidade
            %i.icon-chevron-right
        %li
          %a{:href => contact_path}
            Contato
            %i.icon-chevron-right
            
    .span8.text-justify

      %h2.margin-bottom3 Termos de Uso

      %p Bem-vindo ao FashionHub!
      %p
        Ao acessar o site 
        %a{href: "http://www.fashionhub.com.br/"} www.fashionhub.com.br
        , e a utilizar os nossos serviços, o USUÁRIO está de acordo, e aceita os presentes TERMOS DE USO, bem como a POLÍTICA DE PRIVACIDADE. 
        Leia-os atentamente. O presente documento poderá sofrer atualizações periódicas.
      
      %h2.margin-bottom3 Introdução e Terminologias
      
      %p USUÁRIO, é o utilizador que representa uma pessoa juridica, do setor de vestuário, acessórios de moda ou calçados, e acessa os serviços do FashionHub em nome de uma MARCA ou LOJA. 
      %p CONTEÚDO é todo material publicado pelo USUÁRIO, como por exemplo: textos, informações, fotos, vídeos, links, preços, cores, etc.
      %p Se você esta acessando o FashionHub representando sua empresa, seja MARCA ou LOJA, você assume que tem autoridade para fazê-lo, e está de acordo com estes TERMOS DE USO.
      
      %h2.margin-bottom3 Nossos Serviços
      
      %p O FashionHub é uma plataforma online, que conecta MARCAS e LOJAS, afim de realizarem negócios e networking, através de uma série de serviços e funcionalidades para seus USUÁRIOS.
      %p Nosso objetivo é que MARCAS E LOJAS, possam expandir suas redes de contato, se descobrirem e se engajarem em relacionamentos de negócios.
      %p O USUÁRIO “MARCA”, cria sua página de perfil, disponibiliza informações de sua empresa, cria coleções, condições gerais de compra, apresenta materiais de divulgação, tais como catálogos, lookbooks, clippings e se relaciona com sua rede de conexões.
      %p O USUÁRIO “LOJA”, cria sua página de perfil e disponibiliza informações de sua empresa, marcas com que já trabalha, fotos da loja, e outras informações que julgar relevantes.
      %p O USUÁRIO “LOJA”, processa pedidos de entrega programada e pronta entrega, junto a MARCAS que fazem parte de sua rede de conexões, para revenda, nos moldes de negociação de Atacado.  
      %p É de responsabilidade do USUÁRIO, manter sua senha e nome de usuário sob sigilo. 
 
      %h2.margin-bottom3 Responsabilidades
      
      %p É de responsabilidade da MARCA, a entrega dos produtos e cobrança dos faturamentos, de acordo com sua relação comercial com cada LOJA compradora. 
      %p É de responsabilidade da MARCA, sua politica de devolução e trocas bem como condições gerais de compra.
      %p Toda negociação entre MARCAS e LOJAS, é de inteira responsabilidade de ambas as partes, não tendo o FashionHub, nenhuma relação de intermediação. Somente provemos o serviço/plataforma para que a negociação aconteça.
      %p Todo conteúdo publicado no FashionHub é de inteira responsabilidade do USUÁRIO que o publica. 
      %p O FashionHub poderá remover qualquer conteúdo publicado, caso considerar que o mesmo, viola estes TERMOS DE USO ou nossa POLÍTICA DE PRIVACIDADE, ou ainda, que seja imoral, obsceno, racista, contra os bons costumes, à moral ou contra a legislação brasileira.
      %p O FahionHub poderá a qualquer momento, bloquear ou excluir qualquer USUÁRIO por uso inadequado dos serviços oferecidos e/ou agir de má fé. 
      %p O FashionHub não tem nenhum vínculo de sociedade com nenhum USUÁRIO. 
      %p Todo perfil cadastrado passará por uma análise antes de ser publicado. O FashionHub se reserva o direito de aceitar ou não um cadastro de acordo com sua politica e estratégia de posicionamento e atuação no mercado.
      %p O FashionHub poderá bloquear ou excluir qualquer perfil que identificarmos com informações falsas ou incorretas.  
      %p O USUÁRIO autoriza o FashionHub a usar todas as patentes, marcas registradas, direitos autorais e de propriedade, para a publicação de acordo com estes TERMOS DE USO. O USUÁRIO mantém todos os direitos de propriedade sobre o conteúdo, entretanto, ao enviar o conteúdo ao FashionHub, o USUÁRIO cede ao FashionHub licença mundial, não exclusiva, isenta de royaltes, para usar, distribuir, exibir e executar o conteúdo em conexão com o FashionHub, inclusive a atividades promocionais em qualquer formato e canal de mídia.
      %p O FashionHub não endossa qualquer conteúdo enviado por seus USUÁRIOS. O FashionHub renuncia expressamente, toda e qualquer responsabilidade ligada ao conteúdo de seus USUÁRIOS.
      %p As partes convencionam o recebimento de mensagens e arquivos eletrônicos, como prova documental para todos os efeitos, desde que com aviso de confirmação de recebimento da comunicação. 
      %p Fica eleito o foro da Comarca de Fortaleza, estado do Ceará, como competente para dirimir quaisquer controvérsias decorrentes deste TERMO DE USO, e renunciamos expressamente qualquer outro.

      %p 
        %b A última atualização foi realizada em: 24/03/2014.
      
      .hr-arabesc.margin-top2