.cart-list
  %table.table.cart-brand
    %thead
      %tr
        %td.left-text{colspan: "6"}
          %a
            %h3= order.store.name
      %tr
        %td.brand-profile{rowspan: "2"}
          = image_tag order.store.logo
        %td
          Total de Peças
        %td
          Entrega
        %td
          Valor Total
        %td.btn-confirm{rowspan: "2"}
          %a.btn.btn-disabled.btn-block{data:{toggle: "collapse"}, href: "#collapseDescription-#{order.id}"}
            Visualizar
        %td.btn-confirm{rowspan: "2"}
          - if order.pending
            = link_to "Confirmar", brand_order_path(order.brand, order), class: "btn btn-disabled btn-block", data: {method: :put}
          - else
            %a.btn.btn-disabled.btn-block Confirmado
        %td.arrow-down{rowspan: "2"}
          %a{data:{toggle: "collapse"}, href: "#collapseDescription"}
            = image_tag 'ico-arrow-down.png'            
      %tr
        %td= total_items order.items
        %td= items_releases order.items
        %td= total_items_price order.items
         
  .collapse{id: "collapseDescription-#{order.id}"}
    %table.table.table-striped.cart-brand
      - order.items.group_by{ |i| i.product }.each do |prod, prod_items|
        %tr
          %th &nbsp;
          %th.left-text Nome do Produto
          %th Cor
          %th Tamanho
          %th Quantidade
          %th Preço Unitário
          %th Total
        - prod_items.group_by{ |i| [i.color, i.size] }.each do |keys, pitems|
          %tr
            %td.img-product
              = link_to image_tag(prod.representative_sample), brand_collection_product_path(prod.collection.brand, prod.collection, prod)
            %td.left-text
              = link_to prod.name, brand_collection_product_path(prod.collection.brand, prod.collection, prod)
            %td= keys.first.name
            %td= keys.last.name
            %td= pitems.map { |i| i.quantity }.sum()
            %td= number_to_currency prod.price
            %td= number_to_currency pitems.map { |i| i.quantity }.sum()*prod.price

      %tr
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td 
          %strong= total_items_price order.items