.banner
  .container
    = render 'layouts/actionbar', user: current_user

.container
  .row
    .span12
      .collection-title
        %h2
          - if signed_in? and current_user.brand?
            = link_to current_user.name, brand_path(current_user)
          - elsif signed_in? and current_user.store?
            = link_to current_user.name, store_path(current_user)
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Pedidos

      %hr

      - if @orders.total_count > 0
        - @orders.each do |order|
          .row
            .span12
              = render "order_view", order: order

        = paginate @orders
      - else
        %p
          %i Você ainda não fez nenhum pedido. Quando os fizer, eles aparecerão aqui.
        %br
        .hr-arabesc


