@import "variables";
//@import url("http://fonts.googleapis.com/css?family=Open+Sans:light,regular,italic,bold");

html body {
  background: #191717;
  font-family: 'Open Sans', arial, tahoma, sans-serif;
  font-size: 12px;
  line-height: $line-height;
  color: $font_color;
  
  .container-main {
    padding-bottom: 30px;
  }
}
#wrap {
  background: white;
  
  .container {    
     &.container-small {
      width: 315px;
    }
  }
}

span.error {
  color: #B94A48;
  padding-top: -5px;
  margin-left: 2px;
  font-weight: 100;
  font-size: 11px; 
}

.alert {
    text-shadow: none;
    
  li{
    margin-left: 20px;
    
    &:last-child{
          padding-bottom: 10px;
    }
  }
      
  &.alert-info {
    background: lighten($primary_color_lighter, 10%);
    border: $primary_color;
    color: $font_color;
  }
}

.main-content {
  padding: 2*$gutter 0px;
  
  &.clean-page{
    margin-top: $gutter;
  }
}

.controls-row {
  margin-bottom: 10px;
}

.border {
  border: 1px solid lighten($lighter_font_color, 20%);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  padding-left: 10px;
  
}

label {
  color: $lighter_font_color;
}

.hr-arabesc {
  background: image-url('hr-arabesc.jpg') no-repeat center; 
  height: 18px;
  
  &.white{
    background: image-url('hr-arabesc.png') no-repeat center; 
  }
  
  &.margin{
    margin: 2*$gutter 0 $gutter 0;
  }
}

.details{
  span{
    font-weight: 700;
    display: block;
  }
}

html .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
  background: $background_table;
} 

.background-color{
  background: #dbc78d;
}

/*Align*/
.left-text {
  text-align: left !important;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align :right !important;
}

/*Margin*/
.margin-top1 {
  margin-top: 10px;
}
.margin-top {
  margin-top: 20px;
}
.margin-top2 {
  margin-top: 40px;
}
.margin-top3 {
  margin-top: 30px;
}
.margin-no-top {
  margin-top: 0;
}
.margin-bottom1 {
  margin-bottom: 10px;
}
.margin-bottom {
  margin-bottom: $gutter;
}
.margin-bottom2 {
  margin-bottom: 2*$gutter;
}
.margin-bottom3 {
  margin-bottom: 30px;
}
.margin-no-bottom {
  margin-bottom: 0;
}

.margin-right {
  margin-right: $gutter;
}

.margin-top2 {
  margin-top: 2*$gutter;
}

.margin-left {
  margin-left: 0.5*$gutter;
}

/*Buttons*/
html .btn {
  color: black;
  text-transform: uppercase;
  border: 0px;
  text-shadow: none;
  line-height: 30px;
  padding-bottom: 7px;
  
  &:hover, &:active, &:visited {
    color: black;
  }
  
  &.btn-big {
    width: 150px;
    font-size: 20px;
    line-height: 40px;
  }
  
  &.btn-medium {
    width: 150px;
    font-size: 16px;
    line-height: 30px;
    
    i{
      margin-top: 5px;
    }
  }
  
  &.btn-form{
    line-height: 22px;
  }
  
  &.btn-insert{
    line-height: 20px;
  }
}
html body .btn.btn-primary {
  background: darken($primary_color, 10%);
  background: linear-gradient(to bottom, $primary_color_lighter, $primary_color);  
  box-shadow: inset 0 -3px 0 darken($primary_color, 15%);
  
  &:hover, &:active, &:visited {
    background: darken($primary_color, 5%);
  }
}
html .btn-disabled {
  background: grey;
  background: linear-gradient(to bottom, $grey_lighter, darken($grey_lighter, 10%));  
  box-shadow: inset 0 -3px 0 darken($grey_lighter, 30%);
  
  &:hover {
    background: darken($grey_lighter, 20%);
  }
}
.btn-icon {
  margin-right: 10px;
  font-size: 15px;
  line-height: 30px;
  
  img {
    margin-top: -3px;
    margin-left: 3px;
    height: 20px;
  }
}

/*Links*/
html ul li a {
  color: $font_color;
  outline: 0; 
  @include transition();
  
  &:hover {
    color: $primary_color_lighter;
    text-decoration: none;
  }
}

html a {
  color: $primary_color;
  cursor: pointer;
  
  &:hover {
    color: $font_color;
    text-decoration: none;
  }
}

.primary-color {
  color: $primary_color;
  
  &:hover {
    color: lighten($primary_color, 20%);
  }
}

.font-color {
  color: $font_color;
}

/*modal*/
h3#myModalLabel {
  font-size: 2px + $font_size;
  font-weight: 500;
}

html .modal {
  
  .modal-header {
    border-bottom: 1px solid black;
    padding: $gutter;
    text-transform: uppercase;
  }
  
  .modal-body {
    padding: $gutter;
    
    form {
      text-align: center;
      margin: 0px;
      
      input[type="text"],
      input[type="email"],
      input[type="password"]  {
        width: 345px;
        box-shadow: none;
      }
    }
    
    .text-login {
      width: 357px;
      margin-left: 2px;
      
      a {
        margin-top: 8px;
        color: black;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
  
  .modal-footer {
    padding: $gutter;
    text-align: center;
    background: white;
    border: none;
    
    a {
      color: $font-color;
      font-weight: 700;
      
      span {
        color: $primary_color;
      }
    }
  }
}

/*span*/
.span140{
  width: 120px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  opacity:0.7;
    filter:alpha(opacity=70);
  
  &.span160 {
    width: 140px;
    
    .connection-name.ellipsis {
      width: 132px;
    }
  }
  
  &.span175{
    width: 155px;
    
    .connection-name.ellipsis {
      width: 147px;
    }
  }
  
  &.span220{
    width: 220px;
    
    .connection-name.ellipsis {
      width: 210px;
    }
  }
  
  .connection-name{
    padding: 4px;
    color: black;
    margin-bottom: 5px;
    
    &.ellipsis {
      width: 112px;
    }
  }
  
  &:hover{
    
    opacity:1;
      filter:alpha(opacity=100);
    @include transition();
    
    .connection-name{
       background: lighten($primary_color_lighter, 15%);
    }
  }
}

/*size*/
.size-small {
  width: 155px;
  height: 155px;
}
.size-medium {
  width: 220px;
  height: 220px;
}
.small-font-weight{
  font-weight: 100;
}

/*ellipsis*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}