.banner
  .container
    = render 'layouts/actionbar', user: current_user

.container
  .row
    .span12
      .collection-title
        %h2
          - if signed_in? and current_user.brand?
            = link_to current_user.name, brand_path(current_user)
          - elsif signed_in? and current_user.store?
            = link_to current_user.name, store_path(current_user)
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Carrinho de Compras

      %hr

      .row
        .span12

          %h4.title.title-cart
            .pull-left
              %a.text
                Compras Pendentes
            .pull-right
              = link_to history_orders_path, class: "more button" do
                Histórico de Compras
                = image_tag 'ico-arrow-right.png'

          - unless @cart.total_items > 0
            %p
              %i Você não possui nenhum ítem no seu carrinho.
            %br
            .hr-arabesc
          - else
            .cart-list
              - counter = 0
              - @cart.brand_items.each do |brand, items|
                - counter += 1
                %table.table.cart-brand
                  %thead
                    %tr
                      %td.left-text{colspan: "6"}
                        %a
                          %h3= brand.name
                    %tr
                      %td.brand-profile{rowspan: "2"}
                        = image_tag brand.logo
                      %td
                        Total de Peças
                      %td
                        Entrega
                      %td
                        Valor Total
                      %td.btn-confirm{rowspan: "2"}
                        %a.btn.btn-disabled.btn-block{data:{toggle: "collapse"}, href: "#collapseDescription#{counter}"}
                          Editar
                      %td.btn-confirm{rowspan: "2"}
                        = link_to "Confirmar", order_cart_brand_path(@cart, brand), class: "btn btn-disabled btn-block", data:{method:'post'}
                      %td.arrow-down{rowspan: "2"}
                        %a{data:{toggle: "collapse"}, href: "#collapseDescription#{counter}"}
                          = image_tag 'ico-arrow-down.png'
                    %tr
                      %td= total_items items
                      %td= items_releases items
                      %td= total_items_price items

                .collapse{id:"collapseDescription#{counter}"}
                  %table.table.table-striped.cart-brand
                    - items.group_by{ |i| i.product }.each do |prod, prod_items|
                      %tr
                        %th &nbsp;
                        %th.left-text Nome do Produto
                        %th Quantidade
                        %th Preço Unitário
                        %th Total
                        %th &nbsp;
                      %tr
                        %td.img-product
                          = link_to image_tag(prod.representative_sample), brand_collection_product_path(prod.collection.brand, prod.collection, prod)
                        %td.left-text
                          = link_to prod.name, brand_collection_product_path(prod.collection.brand, prod.collection, prod)
                        %td= prod_items.map { |i| i.quantity }.sum()
                        %td= number_to_currency prod.price
                        %td= number_to_currency prod_items.map { |i| i.quantity }.sum()*prod.price
                        %td
                          = link_to image_tag('ico-edit.png'), brand_collection_product_path(prod.collection.brand, prod.collection, prod), data:{ toogle: :tooltip }, title: "Editar"
                          = link_to image_tag('ico-remove.png'), remove_cart_product_path(@cart, prod), data:{ method: :delete, toogle: :tooltip }, title: "Remover"

                    %tr
                      %td &nbsp;
                      %td &nbsp;
                      %td &nbsp;
                      %td &nbsp;
                      %td
                        %strong= total_items_price items
                      %td &nbsp;


