.container.container-small
  .main-content
    .forgot
      %h3 ENTRAR NO FASHIONHUB
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, label: false, placeholder: 'EMAIL', required: false, autofocus: true
          = f.input :password, label: false, placeholder: 'SENHA', required: false
          
          %label.checkbox.pull-left
            = f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable?
            Mantenha-me Conectado
          %button.btn.btn-primary.pull-right Login
      
      .clearfix
      .links
        = link_to "ESQUECI MINHA SENHA", new_user_password_path
        = link_to "CADASTRE-SE", register_detail_path
