.banner
  .container
    = render 'layouts/actionbar_brand'
    = render 'carousel_profiles', user: @brand
    = render 'layouts/profile_brand'

.container
  .row
    .span3
      .column-left.margin
        = render 'layouts/aboutbar', user: @brand
      = render 'layouts/collectionbar', user: @brand, single_element: false

    .span9
      = render "layouts/brand_content", user: @brand

= render 'brands/payment_conditions'
