.banner
  .container
    =render "layouts/actionbar", user: current_user

.container.background-column.gold
  .row
    .span3
      =render "layouts/sidebar", user: current_user

    .span9
      .collection-title
        %h2
          - if signed_in? and current_user.brand?
            = link_to current_user.name, brand_path(current_user)
          - elsif signed_in? and current_user.store?
            = link_to current_user.name, store_path(current_user)
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Upload de Arquivo

      %hr

      .row
        = simple_form_for [@brand, @brand_file] do |f|
          = f.input :file, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }, :label => false
          = f.input :title, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }, :label => false, :placeholder => "Insira um Título"

          .span2
            %button.btn.btn-disabled.btn-block.btn-form
              Inserir

      %fieldset
        %h4.title
          .pull-left
            %a.text
              Material de Divulgação Atual

        - if @brand.brand_files.count > 0
          %ul.unstyled.notification.file
            - @brand.brand_files.each do |bfile|
              %li
                = link_to bfile.file.url, target: "_blank" do
                  = image_tag "ico-file2.png"
                  = bfile.title
                &#45;
                = link_to brand_brand_file_path(@brand, bfile), class: "delete", data: {method: :delete} do
                  Excluir
                  %i.icon-remove
        - else
          %p
            %i
              Nenhum arquivo disponibilizado no momento.
          %br
          .hr-arabesc

