/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require vendor
 *= require_tree ./screen
 */
@import "variables";
//@import url("http://fonts.googleapis.com/css?family=Open+Sans:light,regular,italic,bold");

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 40px;
  margin: 0 auto -40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#push, #footer-bar {
 height: 40px;
}

/*alert*/
.alert-info p {
  margin-bottom: 0px;
}

/*topbar*/
html .navbar-inverse .navbar-inner {
  background: $background-image;
  border: 0px;
  
  a.primary-color{
    color: $primary_color;
  }
  
  ul.nav.pull-right { 
    a {
      text-transform: uppercase;
      color: #d1d1d1;
      
      &.primary-color {
        color: $primary_color;
      }
      
      &:hover{
        color: white;
      }
    }
  }
}

html .navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #d1d1d1;
}

.navbar-inverse .container .brand{
  
  span {
    font-weight: 700;
    margin-left: -5px;
    margin-right: -5px;
  }
}

.divider {
  color: $nav_grey;
  padding-top: 8px;
}



.form-search {
  margin: 5px 20px 0px 0;
  
  .input-append {
    
    input::-webkit-input-placeholder {
      color: black;
    }
    input::-moz-placeholder {
      color: black;
    }
    input:-moz-placeholder {   /* Older versions of Firefox */
      color: black;
    }
    input:-ms-input-placeholder { 
      color: black;
    }
    
    .search-query{
      box-shadow: none;
      border: none;
      background: grey;
      color: black;
      
     }
    
    .btn-search {
      border: none;
      line-height: 17px;
      background: grey;
      border-left: none;
      box-shadow: none;
      
      &:hover{
        background: grey;
      }
    }
  }
}

/*dropdown*/
html .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
  top: 35px;
  text-transform: uppercase;
  border: none;
  border-top-right-radius: 0px;
  
  li {
    text-align: right;
    padding: 2.5px 0px;
  }
  
  li > a {
    color: $nav_grey;
    
    &.primary-color:hover{
      color: $font_color;
    }
  }
}

html .navbar .nav > li > .dropdown-menu:after {
  border-bottom: none;
}

html .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  background: $primary_color;
  background-image: none;
}
 
#drop3 {
  padding-bottom: 0px;
  
  span{
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
  
/*modal*/
#modallogin{
  width: 400px;
  margin-left: -200px;
}

/*index*/
#index {
  .span12.title h3{
    font-weight: 100;
    margin: 20px 0px 50px 0px;
    
    span {
      font-size: 35px;
    }
  }
}
#wrap .banner {
  background: $background-image2;
  margin-top: 0px;
  
  .container {
    padding-bottom: 0px;
  }
  
  .banner-image {
    width: 100%;
    height: 620px;
    background: url(asset-path('banner.jpg')) no-repeat center;
  }
  
  .banner-message {
    width: 560px;
    color: white;
    font-size: 22px;
    line-height: 32px;
    margin-top: 170px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px;;
    text-shadow: 2px 2px black;
    
    span {
      font-size: 40px;
      line-height: 55px;
      font-weight: 700;
    }
    
    .btn.btn-primary {
      margin-top: 25px;
      padding: 10px 20px;
      padding-bottom: 13px;
      font-size: 6px + $font_size;
      
      i {
        margin-top: 6px;
      }
    }
  }
  .arrow-down {
    color: white;
    margin-top: 85px;
  } 
}

.images-description {
  padding: 3*$gutter 0px;
  font-weight: 100;

  h3 {
    font-weight: 100;
    font-size: 30px;
  }
  
  .span5 {
    padding-top: 25px;
    font-size: 18px;
    line-height: 24px;
    
    &.margin-security{
      padding-top: 95px;
    }
  }
  .span7.pull-right {
    padding-top: 50px;
    text-align: right;
    img {
      width: 500px;
    }
  }
}

/*Details Brands and Stores*/
.content-image-description {
  margin-top: 30px;
  
  .images-description {
    padding: 3*$gutter 0px;
    font-weight: 100;
    
    h3 {
      font-weight: 100;
      font-size: 30px;
    }
    
    .span5 {
      padding-top: 35px;
      font-size: 18px;
      line-height: 25px;
    }
  }
  
  .btn.btn-primary {
    margin: 65px 0 35px 0;
    padding: 10px 20px;
    padding-bottom: 13px;
    font-size: 6px + $font_size;
    
    i {
      margin-top: 6px;
    }
  }
}


/*nav*/
.navbar-background {
  @include degrade($primary_color, darken($primary_color, 10%));
  padding: 8px 10px 10px 10px;
  text-align: right;
  font-weight: 700;
  
  ul {
    margin-bottom: 0px;
    
    li {
      margin-right: 10px;
      
      &:last-child {
        margin-right: 0px;
      }
    }
    
    a:hover {
      color: lighten($font_color, 50%);
    }
  }
}

.menu-icons a {
  text-indent: -9999px;
  background-image: url(asset-path('ico-message.png'));
  background-repeat: no-repeat;
  padding: 0 0 1px 30px;
  text-transform: uppercase;
  
  &:hover {
    background-position: 0 -18px;
  }
  
  &.ico-photo {
    background-image: url(asset-path('ico-photo.png'));
        
    &:hover {
      background-position: 0 -19px;
    }
  }
  
  &.ico-condition {
    background-image: url(asset-path('ico-condition.png'));
        
    &:hover {
      background-position: 0 -19px;
    }
  }
  &.ico-collection {
    background-image: url(asset-path('ico-collection.png'));
        
    &:hover {
      background-position: 0 -19px;
    }
  }
  &.ico-world {
    background-image: url(asset-path('ico-world.png'));
        
    &:hover {
      background-position: 0 -19px;
    }
  }
  &.ico-order {
    background-image: url(asset-path('ico-order.png'));
        
    &:hover {
      background-position: 0 -19px;
    }
  }
  &.ico-file {
    background-image: url(asset-path('ico-file.png'));
        
    &:hover {
      background-position: 0 -19px;
    }
  }
}

/*cover*/
html #cover-carousel {
  margin-bottom: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  
  .carousel-inner img{
    width: 100%;
  }
  
  .carousel-control{
    background: url(asset-path('next.png')) no-repeat;
    border: none;
    border-radius: 0px;
    height: 50px;
    margin-top: 0px;
    
    &.left{
      background: url(asset-path('prev.png')) no-repeat;
      width: 50px;
      left: 5px
    }
  }
}

html #cover { 
  min-height: 110px;
  position: relative;
  
  &.store {
    background: url(asset-path('slide-01.jpg')) no-repeat;
    background-size: 100% 100%;
    height: 345px;
    position: relative;    
  }
}

html .cover-name {
  min-height: 80px;
  position: relative;
  
  h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 100;
  }
  
  .cover-photo {
    width: 220px;
    position: absolute;
    bottom: -110px;
    box-sizing: border-box;
      -moz-box-sizing: border-box;
    border: solid 10px;
    background: white;
    
    img{
      width: 220px;
    }
  }
  
  .cover-bottom {
    background: rgba(0, 0, 0, 0.3); 
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5*$gutter;
    padding-left: 240px;
    box-sizing: border-box;
      -moz-box-sizing: border-box;
    text-align: left;
    
    h1 {
      max-width: 520px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin: 5px 0px;
      line-height: 45px;
    }
    
    .btn.btn-primary {
      margin-top: 7px;
      padding: 10px 25px;
      padding-bottom: 12px;
      margin-right: 5px;
      font-size: 16px;
      line-height: 25px;
    }
    
    &.collection{
      top: 0;
      padding-top: 25px;
      background: rgba(0, 0, 0, 0.2); 
    }
  }
}

/*register*/
.background-register {
  background: rgba(0, 0, 0, 0.2);
  font-size: 30px;
  line-height: 35px;
  color: white;
  text-align: center;
  font-weight: 100;
  margin: 80px;
  margin-left: 180px;
  padding: 40px;
  width: 500px;
  
  span {
    font-size: 20px;
    line-height: 25px;
  }
  
  strong {
    margin-left: -8px;
  }
  
  .hr-arabesc {
    margin: 40px 0;
  }
  
  .container-btn {
    width: 450px;
    margin-left: 25px;
    
    .btn-big {
      i {
        margin-top: 7px;
      
        &.left {
          margin-left: -7px;
        }
      }
    }
  }
}

/*Edit*/
.edit-image{
  width: 130px;
}
.input-append.image-margin{
  margin-bottom: 9px;
}
.span3 .btn-edit-password{
  line-height: 20px;
  margin-top: 24px;
  padding: 5px 0;
}

/*column left*/
.column-left {
  background: $font_color;
  color: white;
  
  .content {
    padding: 0.5*$gutter;
    padding-top: 110px;
    
    &.content-collection{
      padding-top: 10px;
      
      .content-image {
        background: white;
      }      
      .btn.btn-primary {
        margin-top: 0.5*$gutter;
        padding: 10px 0;
        padding-bottom: 13px;
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }
  
  &.margin {
    border-bottom: 20px solid white;
  }
}

.column-left-gold {
  background: lighter($primary_color_lighter, 10%);
  
  .content {
    padding: 0.5*$gutter;
    border-top: 10px solid $font_color;
    
    ul {
      margin: 0;
      
      li {
        /*border-top: 1px solid $primary_color;*/
        border-top: 0px;
        display: inline-block;
        width: 100%;
        font-weight: 700;
        
        &:first-child{
          border-top: 0px;
        }
      }
    }
    
    h4{
      text-transform: uppercase;
      display: block;
      margin: 0 0px 5px;
      font-size: 14px;
      line-height: 1.4;
      color: darken(#aba185, 15%);
      font-weight: 300;
      border-bottom: 1px solid darken(#aba185, 5%);
      
      &.delivery{
        margin-top: 10px;
      }
    }
  }
}

.background-column {
  background: url(asset-path('background-column.jpg')) repeat-y;
  padding-bottom: $gutter;
  
  &.gold {
    background: url(asset-path('background-column-gold.jpg')) repeat-y;
  }
}

/*Store - Lightbox*/
.lb-nav a{
  transition: inherit;
}
/*Store - Connections*/
.title-sections {
  background: lighten($primary_color_lighter, 10%);
  color: $font_color;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  margin: 20px 0px 10px;
  
  &:hover {
    background: $primary_color;
    color: $font_color;
  }
}

ul.thumbnails.connections {
  margin-left: -10px;
  
  li {
    margin-left: 10px;
    margin-bottom: 10px;
    
    .item {
      display: inline-block;
      width: 60px;
      height: 60px;
      background: white;
      
      img {
        opacity:0.7;
          filter:alpha(opacity=70);
        
        &:hover {
          opacity:1;
            filter:alpha(opacity=100);
        }
      }
    }
  }
}

.empty-space {
  margin: 20px;
}

/*Brand - Collection List*/
.bs-docs-sidebar{
  
  .bs-docs-sidenav {
    padding: 0;
  }
  
  .bs-docs-sidenav > li > a {
    margin: 0 0 -1px;
    padding: 8px 10px 4px 10px;
    background: none;
    text-shadow: none;
  }
  
  .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{ 
    background: $primary_color;
    color: $font_color;
  }
  
  span.ellipsis {
    max-width: 155px;
  }
  
  /* Chevrons */
  .bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  
  .bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
  }
  
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: darken($primary_color_lighter, 5%);
    color: $font_color;
    text-shadow: none;
  }
}

.more-details {
  background: lighten($primary_color, 20%);
  border-top: 10px solid $font_color;
  padding: 0.5*$gutter;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.social-icons{
  margin-top: 15px;
  
  a{
    display: block;
    float: left;
    width: 28px;
    height: 29px;
    text-indent: -9999px;
    background-image: url(asset-path('social-icons2.png'));
    background-repeat: no-repeat;
    margin-right: 10px;
    @include transition();
    
    &:hover{
      background-position: 0 -28px;
    }
    
    &.twitter{
      background-position: -39px 0;
      
      &:hover{
        background-position: -39px -28px;
      }
    }
    &.home{
      background-position: -78px 0;
      
      &:hover{
        background-position: -78px -28px;
      }
    }
  }
  &.dark a{
    background-image: url(asset-path('social-icons3.png'));
  }
}

/*Brand - Closed*/
.info-closed {
  background: url(asset-path('ico-lock.png')) no-repeat 15px 20px $font_color;
  color: $primary_color_lighter;
  margin: $gutter 0;
  padding: 15px;
  padding-left: 55px;
}

/*Content*/
h4.title {
  background: url(asset-path('line_bar.png')) 0 12px repeat-x;
  margin: 20px 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 18px;
  min-height: 27px;
  width: 100%;
  font-weight: 100;
  line-height: 30px;
  
  &.margin-no {
    margin-top: 0px;
  }
  
  a.text {
    background-color: #fff;
    padding-right: 10px;
    display: inline-block;
    color: $font_color;
    
    &:hover{
      color: $font_color;
    }
    
    &.ellipsis {
      max-width: 500px;
    }
  }
  
  .pull-right {
    background-color: #fff;
    padding-left: 10px;
    margin-bottom: -3px;
  }
  
  .left, .right {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  }
  
 .left:hover, .right:hover, .more:hover {
  background-color: $primary_grey;
  color: $primary_color;
  }
  
  .left {
  background: url(asset-path('arrow-pleft.png')) $font_color no-repeat center center; 
  margin-right:2px; 
  }
  
  .right {
  background: url(asset-path('arrow-p.png')) $font_color no-repeat center center; 
  }
  
  .button:hover {
  text-decoration: none;
  }
  
  .more{
    background: $font_color;
    padding: 0 10px;
    font-size: 14px;
    display: block;
    
    &.inverse{
      background: $primary_grey;
      
      &:hover{
        background: $font_color;
      }
    }
    
    img{
      padding-left: 5px;
    }
  }
}

.myCarousel {
  margin-bottom: $gutter;
  
  ul {
    margin-bottom: 0px;
      
    li {
      margin-bottom: 20px;
    }
  }
  
  .btn-icon{
    margin-top: 10px;
  }
}

.product-box {
  text-align: center;
  position: relative;
  //opacity:0.7;
    filter:alpha(opacity=70);
  
  &:hover {
    background-color: lighten($primary_color_lighter, 15%);
    box-shadow: 0px 0px 5px #ccc;
    opacity:1;
    filter:alpha(opacity=100);
    @include transition();
    
    a {
      color: white;
    }
  }
  
  img {
    overflow: hidden;
  }
  
  strong {
    text-transform: uppercase;
    display: block;
    margin: 10px 0 5px;
  }
  
  .product {
    color: darken($primary_color, 10%);
    min-height: 40px;
  }
  
  .price {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
  }
}

/*Content - Collection*/
.collection-title {
  
  h1, h2 {
    margin: 0px;
    font-weight: 100;
    font-size: 18px;
    line-height: 40px;
    
    a:hover{
      color: $font_color;
    }
  }
  
  h2 a{
    font-size: 18px;
    color: $lighter_font_color;
  }
  
  h1 {
    font-size: 28px;
    line-height: 30px;
    
    .ellipsis {
      max-width: 940px;
    }
  }
}


.feature_box {
  margin-bottom: 20px; 

  h4 {
    margin: 0 0 10px 0;
    font-weight: normal; 
  }
  
  img { 
    margin-bottom: 10px;
    background-color: #d70004;
    padding: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;  
    border-radius: 50%;
  }
  
  .service {  
    margin-top: 3px;
    padding: 3px;  
    text-align: center;
    
    &:hover {
      background-color:#f4f4f4;
      
      img {
        -webkit-transition: all 0.7s linear;
        -webkit-transform: rotate(6.28rad);
        transition: all 0.7s;
        transform: rorate(6.28rad);
      }
    }
    
    div {  
      padding:5px 5px 0 5px;
    }
  }
}

/* Product */
html .img-zoom{
  
  width: 410px;
  float: left;
  
  #etalage{
    
    margin-bottom: 20px;
  
    .etalage_thumb, .etalage_small_thumbs li, .etalage_zoom_area{
      border: 0px;
      box-shadow: none;
      padding: 0px;
    }
  }
}

.product-details {
  float: right;
  width: 480px;
  padding-left: 40px;
  padding-right: 10px;
  
  .product-title {
    font-size: 16px;
    margin-bottom: 10px;
    
    .pull-left{
      width: 335px;
    }
    
    .btn{
      margin-right: 0px;
    }
    .price-box {
      background: lighten($primary_color_lighter, 30%);
      display: inline;
      padding: 4px 10px;
    }
  }
  
  a:hover {
    color: $font_color;
  }
}
.product-price {
  bottom: 0px;
  
  form {
    margin: 0px;
  }
  
  h4 {
    margin-top: 0px;
  }
}
.box{
  height: 30px;
  width: 30px;
  background: pink;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  border: 1px solid black;

  &.size {
    height: 25px;
    background: black;
    color: white;
    padding-top: 5px;
  }
  
  &.off, &.size.off{
    background: lightgrey;
    color: black;
  }
}
html .table.table-details{
  margin-bottom: 0px;
}

html table.table-buy {
  border: 1px solid lightgrey;
  border-radius: 5px;
  border-collapse: separate;
  
  select {
    margin-bottom: 0px;
  }
  
  &.table th, &.table td{
    text-align: center;
    width: 45px;
    vertical-align: middle;
  }
  .color{
    background: lighten($primary_color_lighter, 30%);
  }
  .input-quantity{
    width: 30px;
        margin-bottom: 0px;
  }
  
  a.remove{
    margin-left: 10px;
    margin-top: -2px;
  }

}
html .nav-tabs > li > a:hover{
  color: $primary_color;
}
.product-buttons{
  div{
    width: 235px;
    
    button{
      font-size: 13px;
    }
  }
}

html .product-category {
  
  label {
    padding-left: 0;
    padding-right: 20px;
  }
  
  input[type="radio"] {
    margin-top: 0;
    margin-right: 5px;
  }
}
/*Dashboard*/
html .span9 .stats {
  text-transform: uppercase;
  
  li {
    text-align: center;
    background: lighten($primary_color_lighter, 10%);
    border-bottom: solid 5px lighten($font_color, 20%);
    padding: 5px 10px;
    margin-right: 10px;
    width: 70px;
    border-radius: 5px;
    
    &:hover{
      background: darken($primary_color_lighter, 5%);  
    }
    
    a{
      display: block;
      color: $font_color;
    }
  }
  
  strong {
    font-size: 14px;
  }
}
.accept-contact {
  
  li {
    height: 50px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 10px;
    
    &:last-child{
      margin-bottom: 0px;
    }
    
    img {
      height: 50px;
    }
    
    .text {
      margin: 0 15px;
      
      a {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        
        &:hover {
          color: $primary_color;
        }
      }
    }
    
    .btn {
      margin-right: 5px;
      margin-top: 10px;
    }
  }
}
.notification {
  li {
    margin-left: 10px;
    line-height: 30px;
    
    a {
      font-weight: 700;
      
      &:hover {
        color: $primary_color;
      }
    }
    
    i{
      margin-right: 5px;
    }
  }
  
  &.file{
    font-size: 14px;
    
    li{
      margin-bottom: 5px;
    }
    
    a.delete {
      font-weight: 100;
      color: $primary_color;
      padding-left: 5px;
      
      i{
        margin-top: 4px;
      }
      
      &:hover{
        color: $font_color;
        background: lighten($primary_color_lighter, 10%);
      }
    }
    img{
      margin-right: 10px;
    }
  }
}

/*Connections*/


/*Favorite*/
.favorite-details{
  .product-title{
    font-size: 14px;
  }
}
.btn.btn-check{
  line-height: 23px;
}

/*Cart*/
.title.title-cart{
  margin: 10px 0;
}
.cart-list{
  margin-left: 10px;
}
.cart-brand {
  margin-bottom: 0px;
  align: center;
  
  &.table th, &.table td {
    text-align: center;
    vertical-align: middle;
  }
  
  h3 {
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 100;
  }
  
  .brand-profile {
    width: 70px;
  
    img {
      width: 70px;
    }
  }
  
  .arrow-down {
    width: 30px;
  }
  
  .btn-confirm {
    width: 110px;
  }
  
  .btn{
    line-height: 30px;
  }
  
  .img-product {
    
    width: 60px;
    
    img {
      width: 40px;
    }
  }
}

/*Forgot Password / Wrong Login / New Password*/
html .forgot {
  h3 {
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid $font_color;
    padding-bottom: 20px;
    margin: 0px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .links {
    margin-top: 15px;  
      
    a {
      color: $font_color;
      text-decoration: underline;
      font-weight: 700;
      display: block;
      line-height: 25px;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  form {
    margin-top: 20px;
    
    input[type="email"], input[type="password"] {
      width: 300px;
    }
    
    .checkbox {
      margin-top: 10px;  
    }
 
  }
}

/*Collection Edit*/
html #wrap .container.container-modal{
  width: 360px;
  padding-bottom: 0px;
  
  form{
    text-align: left;
  }
}

/*Message*/
ul.media-list {
  font-size: 15px;
  font-weight: 100;
  //margin-top: 20px;
  
  li.media.default {
    padding: 20px;
    border-bottom: solid 1px #EEEEEE;
    margin-top: 0px;
    color: $font_color;
    
    &:hover{
      background: whitesmoke;
      cursor: pointer;
      border-bottom: none;
    }
    
    .pull-left{
      margin-right: 10px;
    }
                
    h4.media-heading{
      font-size: 15px;
      font-weight: 500;
      
      span{
        font-weight: 500;
        font-size: 12px;
        padding-left: 15px;
        color: lightgrey;
      }
    }
  }
  
  .media-object {
    width: 65px;
  }
  
  li.media.speech{
    font-size: 14px;
    margin-top: 20px;
    
    &:first-child{
      margin-top: 0px;
    }
      
    .balloon{
      font-weight: 500;
      //margin-top: 5px;
      border-radius: 5px;
      background: whitesmoke;
      padding: 10px 15px;
      margin-left: 10px;
      max-width: 650px;
      min-height: 45px;
      
      &.right{
        margin-left: 0;
        margin-right: 10px;
      }
      
      .time{
        font-size: 12px;
        text-align: right;
        font-weight: 500;
        color: grey;
      }
    }

    .arrow-right{
      background-image: url(asset-path('arrow-grey.png'));
      background-repeat: no-repeat;
      background-position: right 30px;
    }
    
    .arrow-left{
      background-image: url(asset-path('arrow-grey-left.png'));
      background-repeat: no-repeat;
      background-position: left 30px;
    }
  }
}

/*Footer*/
#footer-bar {
  
  .navbar-inner{
    background: #191717;
  }
  
  .nav > li > a{
    padding: 10px 15px;
  }
  
  ul{
    margin: 0px;
  }

  .navbar-inner {
    border-radius: 0px;
    
    .container{
      padding-bottom: 0px;
    }
  }
  
  .social-icons {
    margin: 5px 0px 0px 15px;
    a{
        display: block;
        float: left;
        width: 29px;
        height: 28px;
        text-indent: -9999px;
        background-image: url(asset-path('social-icons.png'));
        background-repeat: no-repeat;
        margin-right: 10px;
        @include transition();
        
        &.facebook:hover{
          background-position: 0 -29px;
        }
        &.twitter{
          background-position: -38px 0;
          
          &:hover{
            background-position: -38px -29px;
          }
        }
        &.skype{
          background-position: -76px 0;
          
          &:hover{
            background-position: -76px -29px;
          }
        }
        &.vimeo{
          background-position: -115px 0;
        
          &:hover{
            background-position: -115px -29px;
          }
        }
      }
  }
}

html .pagination {
  margin-top: 0;
}

/*Dialog*/
.dialog{
  margin: 20px;
}

/*Admin*/
.admin {
  li {
    margin-left: 15px;
    font-size: 15px;
  }
}

/*About*/
.container-about {
    padding-top: 70px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 21px;
    
    .span8 {
      h2 {
        font-weight: 100;
        font-size: 24px;
        border-bottom: 1px solid lightgrey;
      }
      
      p {
        margin-bottom: 20px;
      }
    }
}
.bs-docs-sidebar.about{
  
  .bs-docs-sidenav {
    width: 228px;
    margin: 20px 0 0;
  }
  
  .bs-docs-sidenav > li > a {
    border-bottom: 1px solid whitesmoke;
  }
  .bs-docs-sidenav > li:last-child > a {
    border: none;
  }
  .bs-docs-sidenav > .active > a {
    border: 0;
  }
  .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
    background: $primary_color_lighter;
    border-radius: 6px;
  }
  
  /* Chevrons */
  .bs-docs-sidenav .icon-chevron-right, .bs-docs-sidenav .icon-chevron-left {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .8;
  }
  .bs-docs-sidenav .icon-chevron-left {
    float: left;
  }
  .bs-docs-sidenav a:hover .icon-chevron-right, .bs-docs-sidenav a:hover .icon-chevron-left {
    opacity: .5;
  }
  .bs-docs-sidenav.affix {
    top: 40px;
  }
  .bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }
  
  .nav > li > a:hover, .nav > li > a:focus{
    background-color: whitesmoke;
    border-radius: 6px;
  }
}

/* Main Alerts */
.alert.main-alert {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0px;
  margin-bottom: 0;
  border-radius: 0;

  p {
    margin-bottom: 0;
  }
}