$gutter: 20px;
$font-size: 12px;
$line-height: 20px;

/*Colors*/
$font_color: #333;
$lighter_font_color: #999;
$primary_color: #a18e55;
$primary_color_lighter: #bdab76;
$primary_grey: #eee;
$nav_grey: #999999;
$grey_lighter: #ebebeb;
$background_grey: #242424;
$background_table: #EFEADD;

/*Backgrounds*/
$background_image: image-url('rapo.png') repeat #191717;
$background_image2: image-url('rapo2.png') repeat #191717;


@mixin transition() {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}@mixin transition-slow() {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
@mixin degrade($top, $bottom) {
  background-color: #{$top} ;
  background-image: -moz-linear-gradient(top, #{$top}, #{$bottom});
  background-image: -ms-linear-gradient(top, #{$top}, #{$bottom});
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#{$top}), to(#{$bottom}));
  background-image: -webkit-linear-gradient(top, #{$top}, #{$bottom});
  background-image: -o-linear-gradient(top, #{$top}, #{$bottom});
  background-image: linear-gradient(top, #{$top}, #{$bottom});
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$top}, endColorstr=#{$bottom}, GradientType=0);
}
@mixin box-shadow() {
  box-shadow: 0px 0px 5px #ccc;  
}
