#ModalCondition.modal.hide.fade{ aria:{hidden: "true", labelledby: "myModalLabel"}, role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{aria:{hidden: "true"}, data:{dismiss: "modal"}, type: "button"} ×
    %h3#myModalLabel Condições Gerais de Pagamento
  .modal-body
    - if @brand.payment_condition.blank?
      %p.margin-left
        %i Nenhuma condição pré-estabelecida.
    - else
      = @brand.payment_condition
    
  .modal-footer
    .hr-arabesc