.banner
  .container
    =render "layouts/actionbar"

.container.container-main
  .row
    .span12
      .collection-title
        %h2
          = link_to current_user.name, brand_path(current_user)
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
        %h1
          %a Editar Perfil
          
      %hr
      
      = simple_form_for @brand do |f|
        - if notification = f.error_notification
          .alert.alert-error.fade-in
            %a.close{'data-dismiss' => 'alert', :href => '#'} &times;
            %ul
            - @brand.errors.full_messages.uniq.each do |msg|
              %li= msg
              
        %fieldset
          %h4.title.margin-no
            .pull-left
              %a.text
                Perfil
          
          .row.controls-row
            .span2
              = image_tag @brand.logo.url, :class => "edit-image"
            
            = f.input :logo, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' } 
            = f.input :email, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }
            .span3
              = link_to "Modificar senha", edit_user_registration_path, class: 'btn btn-disabled btn-edit-password btn-block'
            -#= f.input :password, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
            -#= f.input :confirm_password, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
          
            = f.input :site, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
            = f.input :facebook, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }
            = f.input :twitter, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }
          
          .row.controls-row   
            = f.input :description, wrapper_html: { class: 'span6' }, input_html: { class: 'span6', rows: '3' }
            = f.input :payment_condition, wrapper_html: { class: 'span6' }, input_html: { class: 'span6', rows: '3' }
          
          .row.controls-row    
            = f.input :responsible, label: 'Responsável pelo setor comercial', wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }
            = f.input :phones, label: 'Telefones do comercial', wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }   
          
          .row.controls-row                               
            .span12
              %label Área de Atuação
              .border
                .row
                  - Category.order("name asc").each do |cat|
                    %label.checkbox.span2
                      %input{type: "checkbox", name: 'brand[category_ids][]', value: cat.id, checked: @brand.categories.map(&:id).include?(cat.id)}= cat.name         
          %h4.title
            .pull-left
              %a.text
                Dados da Marca

          .row.controls-row
            = f.input :name, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
            = f.input :corporate_name, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
            = f.input :cnpj, wrapper_html: { class: 'span4' }, input_html: { class: 'span4' }
              
          .row.controls-row
            = f.input :street, wrapper_html: { class: 'span6' }, input_html: { class: 'span6' }
            = f.input :complement, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }
            = f.input :district, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }  
            
            
          .row.controls-row
            = f.input :cep, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
            = f.input :state, collection: %w(CE RJ SP), prompt: false, wrapper_html: { class: 'span1' }, input_html: { class: 'span1' }
            = f.input :city, wrapper_html: { class: 'span3' }, input_html: { class: 'span3' }
              
                                 
        %fieldset
          %h4.title
            .pull-left
              %a.text
                Foto de Capa        
          .row   
            = f.simple_fields_for :user_covers do |uc|
              = render 'user_cover_fields', f: uc
              
            .span12
              = link_to_add_association 'Adicionar Capa', f, :user_covers, :class => "btn btn-disabled"
  
        .hr-arabesc.margin
        
        %button.btn.btn-medium.btn-primary.pull-right
          Alterar
          %i.icon-chevron-right