.banner
  .container
    = render 'layouts/actionbar_brand'
    = render 'carousel_profiles', user: @brand
    = render 'layouts/profile_brand'

.container
  .row
    .span3
      .column-left.margin
        = render 'layouts/aboutbar', user: @brand
      = render 'layouts/collectionbar', user: @brand, single_element: false

    .span9
      - if user_signed_in? && (current_user.id == @brand.id || current_user.is_connected_to?(@brand) || current_user.admin?)
        - @brand.collections.order('updated_at desc').limit(3).each do |col|
          = render "product_carousel", collection: col, user: @brand unless col.products.empty?
      - else
        .info-closed
          %p= "#{@brand.name} mantém seu showroom disponível exclusivamente para suas conexões. Para ter acesso ao conteúdo completo, conecte-se agora com a marca."
          -#%a.btn.btn-primary
            Conectar

- if user_signed_in? && current_user.admin? && !@brand.confirmed?
  .container
    .main-content.clean-page
      #p{id: "notice"}= notice
      = confirm_user current_user, @brand

= render 'brands/payment_conditions'
