%p
  Olá, 
  %strong= @resource.name
  
%p Alguém requisitou a mudança da sua senha. Você pode fazer isso utilizandoo link abaixo:

%p
  %strong
    = link_to 'MUDAR MINHA SENHA', edit_password_url(@resource, reset_password_token: @token)

%p Caso você não tenha requisitado isso, por favor, ignore esse email. Sua senha não irá ser alterada a menos que você acesse o link acima e crie uma nova senha.