- first_cover = user.user_covers.order(:id).offset(0).first
- rest_cover = user.user_covers.order(:id).offset(1).all
#cover-carousel{class: "#{rest_cover.empty? ? '' : 'carousel slide'}"}
  %ol.carousel-indicators
    %li.active{data: {slide: {to: "0"}, target: "#cover-carousel"}}
    - (1..rest_cover.size).each do |idx|
      %li{data: {slide: {to: "#{idx}"}, target: "#cover-carousel"}}
  / Carousel items
  .carousel-inner
    .active.item
      - if first_cover.nil?
        = image_tag "no-slide.jpg"
      - else
        = image_tag first_cover.cover.url
    - rest_cover.each do |uc|
      .item
        = image_tag uc.cover.url
        
  / Carousel nav
  - unless rest_cover.empty?
    %a.carousel-control.left{data:{slide: "prev"}, href: "#cover-carousel"}
    %a.carousel-control.right{data:{slide: "next"}, href: "#cover-carousel"}