- unless user.facebook.blank? && user.twitter.blank? && user.site.blank?
  .social-icons.dark
    - unless user.facebook.blank?
      %a.facebook{href: "http://facebook.com/#{user.facebook}", target: "_blank"} Facebook
    - unless user.twitter.blank?
      %a.twitter{href: "http://twitter.com/#{user.twitter}", target: "_blank"} Twitter
    - unless user.site.blank?
      %a.home{href: user.site, target: "_blank"} Home
            
.clearfix