.span3.nested-fields.margin-bottom
  = link_to_remove_association f, class: 'pull-right font-color' do
    Remover
    %i.icon-remove
  = image_tag f.object.sample.url, class: "margin-bottom size-medium"
  = f.input :sample, wrapper_html: { class: '' }, input_html: { class: "margin-bottom span3"}, label: false