%li.span3
  .product-box
    = link_to brand_collection_product_path(product.collection.brand, product.collection, product) do
      = image_tag product_image(product), :class => "size-medium"
      %strong.ellipsis= product.name
      .product= product.description
      .price= number_to_currency(product.price)
  - if current_user.store?
    = link_to collection_favorite_path(product), class: "btn #{product.favorited_by?(user) ? 'btn-primary' : 'btn-disabled'} btn-icon btn-block", data: {method: :post} do
      Favorito
      - unless product.favorited_by? user
        = image_tag 'ico-favorite.png'
      - else
        %i.icon-ok
