%h4.title
  .pull-left
    %a.text.ellipsis= collection.name
  .pull-right
    = link_to brand_collection_path(collection.brand, collection), class: "more button" do
      Ver Mais
      = image_tag 'ico-arrow-right.png'    

.myCarousel.slide
  .carousel-inner
    .active.item
      %ul.thumbnails             
        - collection.products.limit(3).each do |prod|
          = render "product_avatar", product: prod, user: user