.span12.nested-fields.margin-bottom
  = link_to_remove_association f, class: 'pull-right font-color' do
    Remover
    %i.icon-remove
  = image_tag f.object.location.thumb.url, class: "margin-bottom"
  = f.input :location, wrapper_html: { class: '' }, input_html: { class: 'span4' }, label: false
  = f.input :description, wrapper_html: { class: '' }, input_html: { class: 'span4' }