- fav = favorite.nil? ? false : favorite
= simple_form_for cart do |f|
  %input{name: 'brand_id', type: 'hidden', value: product.collection.brand.id}
  %table.table.table-buy
    %thead
      %tr
        %th.left-text
          Cores
        - product.sizes.each_with_index do |size, idx|
          %th{class: "#{idx.even? ? 'color' : ''}"}= size.name
    %tbody
      - product.colors.each do |color|
        %tr
          %td.left-text
            = color.name
          - product.sizes.each_with_index do |size, idx|
            %td{class: "#{idx.even? ? 'color' : ''}"}
              - item = cart.items.find{ |y| y.color_id == color.id and y.size_id == size.id }
              %input.input-quantity{name: 'cart[items_attributes][][quantity]', type: 'number', value: item.nil? ? '' : item.quantity}
              %input{name: 'cart[items_attributes][][id]', type: 'hidden', value: item.nil? ? '' : item.id}
              %input{name: 'cart[items_attributes][][color_id]', type: 'hidden', value: color.id}
              %input{name: 'cart[items_attributes][][size_id]', type: 'hidden', value: size.id}
              %input{name: 'cart[items_attributes][][product_id]', type: 'hidden', value: product.id}
                      
  .product-buttons
    - unless fav
      .pull-left
        %button.btn.btn-primary.btn-icon.btn-block{name: 'command', value: 'brand'}= "Incluir e Continuar Compras"
        -#= link_to "Incluir e Continuar Compras", brand_collection_path(product.collection.brand, product.collection), class: "btn btn-primary btn-icon btn-block"
         
      .pull-right
        -#%button.btn.btn-primary.btn-icon.btn-block{name: 'command', value: 'cart'}= "Ver Carrinho"
        = link_to "Ver Carrinho", cart_path(current_user.shopping_cart), class: "btn btn-primary btn-icon btn-block"
    -else
      .pull-right
        %button.btn.btn-disabled.btn-icon.btn-block{name: 'command', value: 'favorite'}= "Adicionar ao Carrinho"