.span12.nested-fields.margin-bottom
  = link_to_remove_association f, class: 'pull-right font-color' do
    Remover
    %i.icon-remove
  = image_tag f.object.cover.url, class: "margin-bottom"
  = f.input :cover, wrapper_html: { class: '' }, input_html: { class: 'span12' }, label: false