.banner
  .container
    =render "layouts/actionbar", user: @brand

.container.container-main
  .row          
    .span12
      .collection-title
        %h2
          = render "layouts/userpage", user: current_user
          &#187;
          = link_to "Painel", dashboard_detail_path
          &#187;
          = link_to "Gerenciamendo de Coleções", new_brand_collection_path(@brand)
          &#187;
          = link_to @collection.name, edit_brand_collection_path(@brand, @collection)
          &#187;
        %h1
          %a.ellipsis= @product.name
          
      %hr    
      
      .row
        .span12
          = simple_form_for([@brand, @collection, @product]) do |f|
            %fieldset
              
              %h4.title.margin-no
                .pull-left
                  %a.text
                    Fotos do Produto
              
              .row.controls-row
                = f.simple_fields_for :product_samples do |ps|
                  = render 'product_sample_fields', f: ps
                .span12
                  = link_to_add_association 'Adicionar Foto', f, :product_samples, class: "btn btn-disabled"            
                  
                  
            %fieldset
              %h4.title
                .pull-left
                  %a.text
                    Detalhes do Produto
              
              .row.controls-rowrir
                = f.input :name, wrapper_html: { class: 'span8' }, input_html: { class: 'span8' }
                = f.input :code, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
                = f.input :price, wrapper_html: { class: 'span2' }, input_html: { class: 'span2' }
              
              .row.controls-row   
                = f.input :description, wrapper_html: { class: 'span6' }, input_html: { class: 'span6', row: 2 }
                = f.input :composition, wrapper_html: { class: 'span6' }, input_html: { class: 'span6', row: 2 }

              .row.controls-row 
                = f.input :model, placeholder: "Altura da Peça, Tamanho da Peça na Foto...", wrapper_html: { class: 'span6' }, input_html: { class: 'span6', row: 3 } 
              
              .row.controls-row.product-category
                .span12
                  %label Categoria*
                  .border
                    .row
                      - ProductCategory.order(:name).each do |size|
                        %label.checkbox.span2
                          = f.radio_button :product_category_id, size.id
                          = size.name
                          
              .row.controls-row                               
                .span12
                  %label Tamanho*
                  .border
                    .row
                      - Size.order(:name).each do |size|
                        %label.checkbox.span2
                          %input{type: "checkbox", name: 'product[size_ids][]', value: size.id, checked: @product.sizes.map(&:id).include?(size.id)}= size.name

              .row.controls-row                               
                .span12
                  %label Cores*
                  .border
                    .row
                      - Color.order(:name).each do |color|
                        %label.checkbox.span2
                          %input{type: "checkbox", name: 'product[color_ids][]', value: color.id, checked: @product.colors.map(&:id).include?(color.id)}= color.name
  
            .hr-arabesc.margin
            
            %button.btn.btn-medium.btn-primary.pull-right
              Salvar
            
            = link_to "Excluir Produto", brand_collection_product_path(@brand, @collection, @product), data:{method: :delete},class: "btn btn-disabled pull-right margin-right"
              
