.banner
  .container
    = render 'layouts/actionbar_brand'

.container
  .row
    .span12
      .collection-title
        %h2
          = link_to @brand.name, brand_path(@brand)
          &#187;
          = link_to @collection.name, brand_collection_path(@brand, @collection)
          &#187;
        %h1
          %a= @product.name

      %hr

      .row
        .span12
          .img-zoom
            %ul#etalage
              - @product.product_samples.each do |sample|
                %li= image_tag sample.sample, class: "etalage_source_image"

          .details.product-details
            .product-title
              .pull-left
                %p
                  %span= "Referência: " + (@product.code.blank? ? '' : "#{@product.code}")
                  = number_to_currency(@product.price)
              .pull-right
                -# TODO: mudar estilo do botão ao favoritar
                - if current_user.store?
                  = link_to product_favorite_path(@product), class: "btn btn-icon #{@product.favorited_by?(current_user) ? 'btn-primary': 'btn-disabled'}", data: {method: :post} do
                    Favorito
                    - unless @product.favorited_by? current_user
                      = image_tag 'ico-favorite.png'
                    - else
                      %i.icon-ok
              .clearfix
            %p
              %span
                %a
                  Descrição
                .product-description
                  - if @product.description.blank?
                    %i Produto sem descrição
                  - else
                    = @product.description
                    %a.readmore
                      Leia Mais &#187;

            %span
              %a.accordion-toggle{ data: { toggle: "collapse" }, href: "#collapseDescription"}
                Descrição Técnica &#187;
              #collapseDescription.collapse
                %table.table.table-details
                  %thead
                    %tr
                      %td Data Estimada da Entrega
                      %td= @collection.delivery_date
                    %tr
                      %td Composição
                      %td= @product.composition
                    %tr
                      %td Modelo
                      %td= @product.model
                    %tr
                      %td Tamanhos
                      %td
                        - @product.sizes.each do |size|
                          - name = size.name
                          - if name.size > 3
                            .box.size= name[0..1]
                          - else
                            .box.size= name[0..1]
                    %tr
                      %td Cores
                      %td
                        - @product.colors.each do |color|
                          .box{style: "background:#{color.code}"}

            %br
            - if current_user.store?
              = render "table_buy", product: @product, cart: @cart, favorite: false

        .span12
          %h4.title
            .pull-left
              %a.text
                Produtos Relacionados
            .pull-right
              %a.left.button{href: '#myCarouselProduct', data: {slide: 'prev'} }
              %a.right.button{href: '#myCarouselProduct', data: {slide: 'next'} }


          #myCarouselProduct.myCarousel.slide
            .carousel-inner
              = render 'layouts/product_carousel', product: @product

= render 'brands/payment_conditions'
