- if user.brand? || user.store?
  .content.details
  
    - unless user.description.blank?
      %p
        %span
          Sobre
        #{user.description}

    - unless user.opening_year.blank?
      %p
        %span
          Início
        #{user.opening_year}
      
    - if user.categories.count > 0
      %p
        %span
          Categoria
        #{user.categories.map(&:name).join(', ')}
      
    - unless user.city.blank? || user.state.blank?
      %p
        %span
          - if user.store?
            Loja Matriz
          - if user.brand?
            Sede da Marca
        #{user.city}
        ,
        #{user.state}

    -# unless user.corporate_name.blank?
      %p
        %span
          Razão Social
        #{user.corporate_name}

    -# unless user.cnpj.blank?
      %p
        %span
          CNPJ
        #{user.cnpj}

    - unless user.responsible.blank?
      %p
        %span
          Responsável do Atacado
        #{user.responsible}

    - if user.store? and not user.branches.nil?
      %p
        %span
          Lojas
        #{user.branches}    

      
    = render 'network_profiles', user: user
