- can_see_material = user_signed_in? && (current_user.id == @brand.id || current_user.is_connected_to?(@brand) || current_user.admin?)
- can_see_contact = user_signed_in? && (current_user.is_connected_to?(@brand) || current_user.admin?)
- can_see_collections = user_signed_in? && (current_user.id == @brand.id || current_user.is_connected_to?(@brand) || current_user.admin?)

.navbar-background
  %ul.inline
    - if can_see_material
      %li.menu-icons
        = link_to "Material de Divulgação", brand_brand_files_path(@brand), class: 'ico-file'

    - if can_see_contact
      %li.menu-icons
        = link_to "Entrar em Contato", message_path(@brand)

    %li.menu-icons
      %a.ico-condition{"data-toggle" => "modal", href: "#ModalCondition", role: "button"}
        Condições Gerais de Compra

    - if can_see_collections
      %li.menu-icons
        = link_to brand_collections_path(@brand), class: "ico-photo" do
          Coleções Disponíveis
