- unless user_signed_in? && current_user.admin?
  .navbar-background
    %ul.inline
      - if user_signed_in? && current_user.is_connected_to?(@store)
        %li.menu-icons
          = link_to "Entrar em Contato", message_path(user)

      -# if @store.store_images.count > 0
        %li.menu-icons
          %a.ico-photo{href: '#pics'}
            Fotos da Loja
