.navbar-background
  %ul.inline
    
    -#Action bar quando a página é do Painel (dashboard, connections, create_collection, edit_collection, create_product, edit_product, brands/edit
    
    -#%li.menu-icons
      %a.ico-order
        Pedidos de Compra
        
    - if current_user.brand?
      %li.menu-icons
        = link_to new_brand_brand_file_path(current_user), class: "ico-file" do
          Material de Divulgação
      %li.menu-icons
        = link_to new_brand_collection_path(current_user), class: "ico-collection" do
          Minhas Coleções
      
    %li.menu-icons
      = link_to dashboard_detail_path, class: "ico-world" do
        Painel