%h4.title
  .pull-left
    %a.text
      Material de Divulgação
      
- unless user.brand_files.count > 0
  %p
    %i Ainda não há material de divulgação disponibilizado.
- else
  %ul.unstyled.notification.file
    - user.brand_files.each do |bfile|
      %li
        = link_to bfile.file.url, target: "_blank" do
          %i.icon-file
          = bfile.title
        
%br
.hr-arabesc