- if current_user.id == user.id || current_user.is_connected_to?(user) || current_user.admin?

  - released = user.collections.joins(:products).where(release: true)
  - ready = user.collections.joins(:products).where(release: false)

  - if (released.count > 0 || ready.count > 0) || single_element
    .bs-docs-sidebar.column-left-gold.section
      .content{class: ('background-column gold' if user_signed_in? && (current_user.id == @brand.id || current_user.is_connected_to?(@brand) || current_user.admin?))}

        - if released.count > 0 || single_element
          %h4
            Lançamentos

          - if released.count > 0
            %ul.nav.nav-list.bs-docs-sidenav
              - released.each do |col|
                %li
                  = link_to brand_collection_path(user, col) do
                    %span.ellipsis= col.name
                    %i.icon-chevron-right
          - else
            %p
              %i
                Nenhuma coleção disponível no momento.
            %br

        - if ready.count > 0 || single_element
          %h4.delivery
            Pronta Entrega

          - if ready.count > 0
            %ul.nav.nav-list.bs-docs-sidenav
              - ready.each do |col|
                %li
                  = link_to brand_collection_path(user, col) do
                    %span.ellipsis= col.name
                    %i.icon-chevron-right
          - else
            %p
              %i
                Nenhuma coleção disponível no momento.
            %br
