-#sstore/show

%a.title-sections
  %strong
    Conexões  
  &#183;  167

%ul.thumbnails.connections
  %li
    %a.item
      = image_tag 'brand-photo.jpg'
  %li
    %a.item
      = image_tag 'brand-photo.jpg'
  %li
    %a.item
      = image_tag 'brand-photo.jpg'
  %li
    %a.item
      = image_tag 'brand-photo.jpg'
  %li
    %a.item
      = image_tag 'brand-photo.jpg'
  %li
    %a.item
      = image_tag 'brand-photo.jpg'
  
.clearfix