-#(store/show)

.cover-name  
  .cover-bottom
    %h1 
      #{@store.name}
      
    - if user_signed_in? and current_user.brand? and not current_user.has_connection_with(@store)
      = link_to "Conectar", request_store_connection_path(@store), class: "btn btn-primary pull-right", data:{ method: :post }
    - elsif user_signed_in? and current_user.brand? and not current_user.is_connected_to?(@store)
      - if current_user.is_requester?(@store)
        %a.btn.btn-primary.pull-right Solicitação Enviada
      - else
        =link_to "Aguardando Confirmação", accept_store_connection_path(@store), class: "btn btn-primary pull-right", data: {method: :put}

  .cover-photo
    = image_tag @store.logo.url
