- data = product.collection.products.where('products.id <> ?', product.id)
- page = 4
- items = (data.count / page.to_d).ceil 
- (0..(items-1)).each do |item|
  .active.item
    %ul.thumbnails       
      - data.offset(item).limit(page).each do |prod|                      
        %li.span3
          .product-box
            =link_to brand_collection_product_path(product.collection.brand, product.collection, prod) do
              = image_tag prod.representative_sample, :class => "size-medium"
              %strong.ellipsis= prod.name
              .product= prod.description
              .price= number_to_currency prod.price


