-#(brands/show)

.cover-name  
  .cover-bottom
    %h1 
      #{@brand.name}

    - if user_signed_in? and current_user.store? and not current_user.has_connection_with @brand
      = link_to "Conectar", request_brand_connection_path(@brand), class: "btn btn-primary pull-right", data:{ method: :post }
    - elsif user_signed_in? and current_user.store? and not current_user.is_connected_to? @brand
      - if current_user.is_requester?(@brand)
        %a.btn.btn-primary.pull-right Solicitação Enviada
      - else
        =link_to "Aguardando Confirmação", accept_brand_connection_path(@brand), class: "btn btn-primary pull-right", data: {method: :put}

  .cover-photo
    = image_tag @brand.logo.url
