.column-left.margin
  .content.content-collection.center-text
    
    -#Caso seja uma página do painel, mostrar a foto do usuário e botão para editar o perfil
    .content-image
      = image_tag current_user.logo
    -#Caso seja uma página de coleção, mostrar a foto da loja em questão e botão para se conectar àquela marca
    -#= image_tag 'brand-photo.jpg'
    
    #Painel
    - if signed_in? and current_user.brand?
      = link_to "Editar Perfil", edit_brand_path(current_user), class: "btn btn-primary btn-block"
    - elsif signed_in? and current_user.store?
      = link_to "Editar Perfil", edit_store_path(current_user), class: "btn btn-primary btn-block"
    -#Coleção   
    -#%a.btn.btn-primary.btn-block
      CONECTAR
    
    .clearfix
      
.bs-docs-sidebar.column-left-gold.section

  -#Página de Painel, mostrar resumo dos dados do usuário

  = render 'layouts/aboutbar', user: current_user   
  .clearfix
