.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      - unless user_signed_in? && current_user.admin?
        = link_to root_path, :class => "brand" do
          %span
            FASHION
          HUB
      - else
        = link_to admin_root_path, :class => "brand" do
          %span
            FASHION
          HUB

      - unless signed_in?
        -# Topbar quando não logado
        %ul.nav.pull-right
          %li= link_to "PARA MARCAS", brand_detail_path
          %li= link_to "PARA LOJAS", store_detail_path
          %li
            %a.primary-color{data: {toggle: "modal"}, href: "#modallogin"} Entrar
      - else
        -# Topbar quando logado
        %ul.nav.pull-right.logged

          %li
            = simple_form_for :search, url: search_index_path, html: {method: :get, class: "form-search"} do |f|
              .input-append
                %input.span2.search-query{name:"s", type: "text", placeholder: "Buscar"}
                %button.btn.btn-search{type: "submit"}
                  %i.icon-search

          - if current_user.store?
            %li= link_to "Carrinho (#{current_user.shopping_cart.total_items})", cart_path(current_user.shopping_cart), class: "primary-color"
            %li= link_to "Favoritos", favorite_detail_path

          - if current_user.brand?
            %li= link_to "Pedidos", brand_orders_path(current_user)

          - unless current_user.admin?
            %li
              = link_to "Mensagens", messages_path

            %li= link_to "Conexões", connection_detail_path

          - else
            %li= link_to "Aprovação", admin_root_path
            %li= link_to "Pedidos", orders_admin_dashboard_index_path
            %li= link_to "Transações", transactions_admin_dashboard_index_path

          %li.divider
            |

          %li.dropdown
            %a#drop3.dropdown-toggle.primary-color{"data-toggle" => "dropdown", :href => "#"}
              %span= current_user.name
              %b.caret
            %ul.dropdown-menu
              - unless current_user.admin?
                %li
                  = link_to "Painel", dashboard_detail_path
                %li
                  - if signed_in? and current_user.brand?
                    = link_to "Meu Perfil", brand_path(current_user)
                  - elsif signed_in? and current_user.store?
                    = link_to "Meu Perfil", store_path(current_user)
                %li
                  - if signed_in? and current_user.brand?
                    = link_to "Editar Perfil", edit_brand_path(current_user)
                  - elsif signed_in? and current_user.store?
                    = link_to "Editar Perfil", edit_store_path(current_user)

                - if current_user.brand?
                  %li
                    = link_to "Material", new_brand_brand_file_path(current_user)
                  %li
                    = link_to "Coleções", new_brand_collection_path(current_user)

              - else
                %li= link_to "Aprovação", admin_root_path
                %li= link_to "Pedidos", orders_admin_dashboard_index_path
                %li= link_to "Transações", transactions_admin_dashboard_index_path
                %li= link_to "Avançado", rails_admin.dashboard_path

              %li
                = link_to "Sair", destroy_user_session_path, class: "primary-color"

#modallogin.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel ENTRAR NO FASHIONHUB
  .modal-body
    = simple_form_for(User.new, as: 'user', url: session_path('user')) do |f|
      .form-inputs
        = f.input :email, label: false, placeholder: 'EMAIL', required: false, autofocus: true
        = f.input :password, label: false, placeholder: 'SENHA', required: false

        %label.checkbox.text-left
          = f.input :remember_me, label: false, as: :boolean
          Mantenha-me Conectado

      .text-login
        = link_to "ESQUECI MINHA SENHA", new_user_password_path, class: "pull-left"
        %button.btn.btn-primary.pull-right Entrar
      .clearfix
  .hr-arabesc
  .modal-footer
    = link_to register_detail_path do
      %button.btn.btn-primary.btn-block Cadastre-se no FASHIONHUB
