- if signed_in? && current_user.brand?
  = link_to current_user.name, brand_path(user)
- elsif signed_in? && current_user.store?
  = link_to current_user.name, store_path(user)
- elsif signed_in? && current_user.admin?
  = link_to current_user.name, root_path