!!!
%html
  %head
    %title FashionHub
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/topbar'

      - if flash[:alert]
        .alert.alert-danger.main-alert
          .container
            %p= flash[:alert]

      - if flash[:notice]
        .alert.alert-info.main-alert
          .container
            %p= flash[:notice]
      = yield
      #push

    #footer-bar
      .navbar-inverse
        .navbar-inner
          .container
            .social-icons.pull-right
              %a.facebook{:href => 'https://www.facebook.com/wefashionhub', target: '_blank'}
              %a.twitter{:href => 'https://www.twitter.com/WeFashionHub', target: '_blank'}
            %ul.nav.inline.pull-right
              %li
                %a{:href => about_path}
                  Empresa
              %li
                %a{:href => 'http://www.astux.com.br/blog/', target: '_blank'}
                  Blog
              %li
                %a{:href => terms_path}
                  Termos de Uso
              %li
                %a{:href => privacy_path}
                  Privacidade
              %li
                %a{:href => contact_path}
                  Contato
