!!! 5
%html
  %head
    %title FashionHub
  %body{:style => "font-family: Helvetica; background: white; font-size: 14px; line-height: 25px; margin-top: 40px;"}
    %div{:style => 'width: 680px; margin: 0 auto;'}
      %div{:style => ' text-align: left; padding: 20px; border-bottom: solid 1px #333333; font-size: 18px'}
        %span
          %strong{:style => 'margin-left: -5px; margin-right: -5px;'}
            FASHION 
          HUB
      %div{:style => 'padding: 40px 20px;'}
        
        = yield
        
      -#Colocar a imagem abaixo hospedada em algum lugar
      %div{:style => "background: url(#{asset_url('hr-arabesc.jpg')}) no-repeat center; height: 18px;"}
      
      %div{:style => 'text-align: center; padding: 20px'}
        %div{:style => 'font-size:12px; padding: 10px; line-height: 20px;'}
          Para garantir que nossos comunicados cheguem em sua caixa de entrada,
          %br
          adicione o e-mail 
          %strong
            contato@fashionhub.com.br
          ao seu catálogo de endereços.